[2016-01-25 21:10] star-buck opened #166 "[folderview containment]: current selected color is not rememberd after switching to picture and back to color"

[2016-05-05 10:12] star-buck opened #1 "wrong sorting: e.g. Menu and filedialog"
![dash-wrongsorting](https://cloud.githubusercontent.com/assets/840070/15041200/7ac18372-12ba-11e6-97cc-1a0fa9af442f.png)
![sort](https://cloud.githubusercontent.com/assets/840070/15041204/8045275e-12ba-11e6-8a8f-d88cb056bcbf.png)

[2016-05-05 10:13] star-buck commented on #1
system is running Qt5.6, Plasma 5.6.3, Frameworks 5.21

[2016-06-22 19:48] star-buck opened #2 "[wallpapers]: seems no difference between "scaled and cropped", "scaled" or "keep proportions""

[2016-07-24 14:40] star-buck opened #3 "[5.7.2]: desktop themes kcm: downloading new desktop themes dont show in list until closing complete ss and reopen kcm"
this looks like nothing downloaded at all, therefore is confusing

[2016-07-24 14:46] star-buck opened #4 "[5.7.2]: ghns: desktop themes kcm: installed themes not listed as "installed""
![ghns_20160724_164714](https://cloud.githubusercontent.com/assets/840070/17084442/18d0182a-51be-11e6-9883-29d7f70e1a1d.png)

[2016-07-24 14:48] star-buck commented on #2
seems fixed in 5.7.2

[2016-07-24 14:48] #2 closed

[2016-07-25 10:00] notmart commented on #4
on local machine seems to correctly mark them as installed, will try on different setups to see what may cause different results

[2016-07-25 10:01] notmart commented on #3
i can reproduce it on a devel setup, i think i know what is going on and should be easily fixable

[2016-07-25 11:54] notmart commented on #3
should be fixed in master and 5.7, so for next point release

[2016-07-25 12:35] notmart commented on #4
managed to reproduce, found the issue, so fix is now in 5.7 and master

[2016-07-27 15:47] star-buck opened #5 "[kamoso 3.2]: video is choppy"
on same computer, cheese does a much smoother video, while kamoso looks like 2-3 frames per second.
Eventually the algorythm or format could be changed, like in vokoscreen, some codecs do choppy videos while other formats (mkv) do result in a much smoother video taken fullscreen.

[2016-07-27 15:53] star-buck opened #6 "[kamoso 3.2]: picture and video file naming scheme is wrong"
month 42:
![kamoso screenshot_20160727_175205](https://cloud.githubusercontent.com/assets/840070/17182191/fa39eb7c-5422-11e6-821f-77c1e3bca978.png)

[2016-07-28 10:43] star-buck opened #7 "[samba mounter]: pressing "Ok" doesnt save and create current entry anymore"
@aleixpol : This worked before, can you have a look what might have changed:
https://quickgit.kde.org/?p=scratch%2Fafiestas%2Fsamba-mounter.git

Btw. Should we move it into a proper phabricator mini-project?
Or maybe move it over as a proper github?

[2016-07-29 10:00] aleixpol commented on #6
Fixed as of http://commits.kde.org/kamoso/2de039758cdc44cbd0342369af893d88df964d78

[2016-07-29 11:05] aleixpol commented on #5
I've been looking into it. I'm trying to figure out what's exactly the problem, as it looks ok here.
Do you think you could give me the codecs information of the files you get? VLC exposes such information:
http://i.imgur.com/LM67HLG.png

[2016-07-29 15:39] star-buck opened #8 "[menu]: right-click on menu, then clicking on "Alternatives" entry sometimes does nothing (click eaten)"
i suspect somehow the popup from "Panel Options" being involved, but so far are not yet to reproduce it reliably.
If you try enough times though, it sometimes happens once in a while.

[2016-07-30 08:39] star-buck commented on #8
i could reproduce:
right-click on menu button to open window, then hover over Panel Options to have the sidepopup show. then move the mouse one up and click on "Alternatives" will not do anything while the popup is about to close. This also happens elsehwere, but the curious thing is that if you move the mouse too fast to the next entry you can execute the click normally, so it looks like its just

[2016-07-30 14:36] star-buck opened #9 "[shutdown/logout]: waits 4-5 seconds idle before continuing, even when "no confirmation" is set"
same when pressing the "power" button of the computer

[2016-08-02 13:14] notmart commented on #4
should be fixed in 5.7.3

[2016-08-02 13:14] notmart commented on #3
should be fixed in 5.7.3

[2016-08-03 11:49] star-buck opened #10 "[TM]: with some settings, dragging an item (e.g. mp3 from dolphin) to an open task (e.g. musicplayer) doesnt bring up program window"
works with most settings but not as follow:
![taskmanager_screenshot_20160803_134625](https://cloud.githubusercontent.com/assets/840070/17364534/fa75b2fc-5980-11e6-9fb9-05d82824d429.png)

[2016-08-03 11:51] star-buck commented on #4
works

[2016-08-03 11:51] #4 closed

[2016-08-03 11:51] star-buck commented on #3
works

[2016-08-03 11:51] #3 closed

[2016-08-03 14:46] eikehein commented on #10
Can reproduce, looking into it

[2016-08-03 14:56] eikehein commented on #10
Fixed in http://commits.kde.org/plasma-desktop/b87748c8ed29c1e8585d280cda63d770c25f6fba

Will be in 5.7.4 scheduled for August 23rd

[2016-08-08 21:16] star-buck opened #11 "[neon packaging]: make packages NOT depend on noto-sans-hinted"
please make other packages "recommend" package noto-sans-hinted, so it can be uninstalled if the system uses another font. Right now, if one wants to uninstall the package, quite many kde apps and other packages will be ripped out with it:
![screenshot_20160808_231556](https://cloud.githubusercontent.com/assets/840070/17496556/26412b14-5dbe-11e6-96b2-37be127c4137.png)

[2016-08-09 08:57] star-buck opened #12 "[breeze gtk icons]: missing icons, e.g. on buttons or window-titlebar for gnome-chess"
there seem to be some missing icons e.g. in gnome-chess titlebar:
![gtk3-missing icons](https://cloud.githubusercontent.com/assets/840070/17510623/0892683c-5e20-11e6-83d1-36373bce94ba.png)
Does anyone know if its just a missing package?

[2016-08-09 10:58] star-buck opened #13 "[neon]: "additional drivers" (kubuntu-driver-manager) seems to do nothing when started"

[2016-08-09 11:16] jriddell commented on #11
updated plasma-integration with recommends and added depends to neon-seeds

[2016-08-09 11:16] #11 closed

[2016-08-09 11:29] jriddell commented on #13
https://forum.kde.org/viewtopic.php?f=66&t=132729
<leszek> Riddell: aptdaemon python module is missing and conflicts with something gir-packagekit or so thats what I have in my mind still. (Tested 2 weeks ago)
<leszek> python-aptdaemon : Depends: gir1.2-packagekitglib-1.0 (< 0.9) but 1.1.0-2+16.04+build3 is to be installed

[2016-08-10 08:57] star-buck opened #14 "[systray]: vokoscreen shows generic/missing icon, left-click not responding"

[2016-08-10 09:00] star-buck opened #15 "[xembed-sni-proxy]: skype is showing generic symbol in systray instead of skype state logo"
David:
Icon fixed.

It's a bug in plasma-framework IconItem, as a fallback from whoever changed Icons to try and be smart and use plasma colours.

We start off with a valid pixmap icon
Plasma tries to see if it can theme it to Plasma colours
it can't - so it loads the original icon by name again (which is bloody stupid).
Except now time it doesn't know to look in the right directory so it fails.

[2016-08-10 09:00] star-buck commented on #15
David:
Icon fixes are all in Frameworks 5.25 which should be out in the next few days.

------

The startup delay is a problem with Qt4 and fonts.

debuggers/traces show it's spending it's time building up a cache of every font in the system.
It's probably slower now than it was before because Noto is magnitudes times larger than any other font.

You can make it slow again by deleting ~/.cache/fon

[2016-08-10 09:01] star-buck commented on #15
David:
You could uinstall all the fonts, but I don't think that's a particularly good workaround.

Our only option is to build and ship a co-installable 32 bit version of fc-cache, which has the same font install hook as the 64 bit version to create a cache whenever a font is installed.

I filed a bug with Debian (as that's the root cause) https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=833531 a

[2016-08-10 09:03] star-buck opened #16 "[calamares]: locales (like language, region and timezone/format) not set correctly or fully"
neon via ubiquity sets this, so even the format of 24:00 in clock panel is right after reboot:
![screenshot_20160724_210234](https://cloud.githubusercontent.com/assets/840070/17085828/4679d1e8-51e2-11e6-854b-4a8b8547ac63.png)

[2016-08-10 09:03] star-buck commented on #16
Teos response:

The way I see it, there are two separate issues in this report, please correct me if I got it wrong:
1) the Calamares locale setting defaults to the chosen language rather than to the chosen timezone, and
2) Calamares only sets the LANG variable and not the other ones.

I've already pushed a fix for issue (2), but not for issue (1), which is more complex.

I had initially chosen to

[2016-08-10 09:28] teo commented on #16
Update - I'm still finishing this up, but Calamares will now mimic Ubiquity's behavior as far as locale variables are concerned.

[2016-08-10 19:42] star-buck opened #17 "[folder colors]: folder icons on desktop dont match color in dolphin"
https://www.dropbox.com/s/33umb2mopsv38b2/folder%20colors.mkv?dl=0

[2016-08-12 21:39] star-buck opened #18 "[packaging neon]: fail to install aptdaemon"
aptdaemon fails with this error:

[2016-08-12 21:57] star-buck commented on #13
seems a lot of things depend on aptdaemon, also testing gnome software center with flatpaks, etc. becomes impossible on maui/netrunner/neon...
@jriddell : We need to fix this, I came across the same dependency chain independent of that kcm 2x today while testing.

[2016-08-13 18:50] star-buck opened #19 "[neon]: on neon/maui ubiquity doesnt show option "install alongside" anymore"
same machine trying to use previous kubuntu based netrunner vs. original neon user edition, where it would have been perfectly fine to install alongside:
![ubiquity](https://cloud.githubusercontent.com/assets/840070/17644962/767b90ba-6197-11e6-86b1-5f4f7f9d88af.png)

missing on neon/maui:
![ubiquity screenshot_20160813_181207](https://cloud.githubusercontent.com/assets/840070/17644963/7b1b08f8-619

[2016-08-13 19:04] star-buck commented on #19
same with just one partition:
![ubiquity screenshot_20160813_185709](https://cloud.githubusercontent.com/assets/840070/17645026/872cca8a-6199-11e6-862f-bc1a92c779ba.png)

[2016-08-13 19:06] star-buck commented on #19
here is the log:
https://www.dropbox.com/s/kdlnf7unxw4rkta/ubiquity.debug.txt?dl=0
maybe some size isnt set properly?

[2016-08-14 18:58] star-buck opened #20 "[maui-1]: switching to kickoff shows kde gear icon and throws error"
![kickoff_screenshot_20160814_201232](https://cloud.githubusercontent.com/assets/840070/17651185/ce230850-6261-11e6-9b36-4e3f7128c3b0.png)

[2016-08-14 20:14] llelectronics commented on #20
I can't reproduce it here. Is there any backports or testing ppa activated. Did you upgrade anything ?
Or did you maybe removed some packages ?
Maybe you changed the Look and Feel package ? (That includes the scripts for each menu to configure icon and favorites)
Tested here freshly installed maui build23i and updated 23c and both work fine.

[2016-08-15 10:14] apachelogger commented on #18
why is it needed?

[2016-08-15 14:37] jriddell commented on #13
Turns out this is a bug in apt-xapian-index from Ubuntu.  Fix uploaded and it's in Ubuntu's xenial-proposed available for testing, I'll publish it in a week after the testing period

https://bugs.launchpad.net/ubuntu/+source/apt-xapian-index/+bug/1579834

[2016-08-22 21:32] ScarlettGatelyClark commented on #18
I can confirm this is broken. I am trying to go through some python3 lessons to fix up a project I am working on and got:

scarlett@scarlett-neon:~$ sudo apt install python3-aptdaemon
Reading package lists... Done
Building dependency tree
Reading state information... Done
Starting pkgProblemResolver with broken count: 1
Starting 2 pkgProblemResolver with broken count: 1
Investigating (0) python3-a

[2016-08-23 14:58] star-buck commented on #13
@jriddell : is this one ready for QA?

[2016-08-25 08:37] star-buck commented on #16
using latest installer i get locales set like this, which looks good:
![locale](https://cloud.githubusercontent.com/assets/840070/17962152/cb044f20-6aaf-11e6-80de-ac90ae5ba7d5.png)
still the clock is not set correctly, whereas with ubuiquity/neon, it does apply the +2 hours timezone... any idea what neon/ubiquity does to get the clock automatically set right?

[2016-08-25 10:37] star-buck commented on #20
seems solved

[2016-08-25 10:37] #20 closed

[2016-08-26 07:58] star-buck opened #21 "[systray]: dropbox icon invisible"
https://forums.mauilinux.org/showthread.php?tid=23868

[2016-08-26 08:18] teo commented on #16
@star-buck no idea yet, but I'm looking into it. Is the clock only wrong in Plasma, or does the `date` command also yield the wrong time?

[2016-08-26 09:10] star-buck commented on #16
odd thing is:
on arm odroid it gets set correctly, only on the pc ubiquity sets it right, while calamares somehow doesnt.

[2016-08-26 10:45] teo commented on #16
@star-buck ok, I tested some things and now I know what's up. Your information about the ODROID was crucial: Calamares on ODROID runs in no-chroot mode, so it sets the timezone with timedatectl (systemd), whereas in installer mode we can't do that. Currently working on a fix.

[2016-08-26 16:30] #16 closed

[2016-08-26 16:40] star-buck opened #22 "[TM]: IOTM launcher icons "dissappear""
added icons to IOTM reported to disappear when laucnhed:
https://forums.mauilinux.org/showthread.php?tid=23918

[2016-08-26 20:22] eikehein commented on #22
I've heard something like this before a few weeks ago in passing, and it was also about Chromium. Has to be specific to it somehow. I'll try to find out.

[2016-08-26 20:50] eikehein commented on #22
I can't reproduce this with Fedora's Chromium, but the problem can be distro/package-specific (.desktop file names etc). I'll check with a Maui VM soon.

[2016-08-27 08:30] star-buck opened #23 "[folderview]: right-click: change entry "Folderview Settings" to "Desktop Settings" (or change Folderview to become the default Desktop containment anyway)"
some sample userfeedback:
https://forums.mauilinux.org/showthread.php?tid=23855&pid=38817#pid38817

[2016-08-27 17:34] star-buck opened #24 "[colorschemes]: modifiying active titlebar color doesnt apply to window deco"
reported here, it maybe only maui or upstream related:
http://forums.mauilinux.org/showthread.php?tid=23907&pid=38991#pid38991

[2016-08-29 09:10] notmart commented on #23
on 5.8 the context menu says "Desktop settings" in case of folderview as well, look and feel packages support the concept of default containment, so a distribution can specify what to use (so a folder containment would be created in cases of new external monitor connected and what not)

[2016-08-29 11:20] notmart commented on #17
the stylesheet-colored folder icons have been reverted in breeze, so should be ok in master

[2016-09-01 09:39] eikehein commented on #22
I haven't been able to reproduce this with Maui and Maui's Chromium package in a VM yet either, but still having an eye out for it.

[2016-09-05 16:40] llelectronics commented on #13
Tested today by installing kubuntu-driver-manager on maui 1 (with latest updates) and that seems to work. It shows active proprietary drivers and allows for installing which works also (tested with microcode package installing)
So should be ready for QA.

[2016-09-08 16:20] nmabhinandan commented on #18
This is broken!

[2016-09-12 13:35] star-buck opened #25 "[calamares]: exits with error"
![screenshot_20160912_152913](https://cloud.githubusercontent.com/assets/840070/18437727/814605a6-78fe-11e6-9d96-ec4abda177f7.png)

`sudo calamares --debug
13:28:07 [1]: Calamares version: 2.4.0
Translation: Calamares: Using system locale: "en_US"
Translation: Qt: Using default locale, system locale one not found: "en_US"
13:28:07 [1]: Default font =====
Pixel size:    -1
Point size:    9
Point si

[2016-09-13 15:25] star-buck opened #26 "[systray]: reported: missing some icons after update to frameworks 26"
https://forums.mauilinux.org/showthread.php?tid=23952

[2016-09-13 15:27] star-buck commented on #18
@jriddell : a fix would be great for shipping in maui 2

[2016-09-13 15:28] #19 closed

[2016-09-13 15:28] star-buck commented on #19
testing calamares for maui 2

[2016-09-13 15:41] #13 closed

[2016-09-13 15:41] star-buck commented on #25
seems fixed

[2016-09-13 15:41] #25 closed

[2016-09-13 16:14] star-buck commented on #6
@aleixpol : what version of kamoso would that to be fixed?

[2016-09-13 16:16] #15 closed

[2016-09-13 16:16] star-buck commented on #14
seems fixed

[2016-09-13 16:16] #14 closed

[2016-09-13 16:18] star-buck commented on #26
i couldnt confirm this with latest maui 2 dev img, but maybe maui 1 still had something slightly differently configured.

[2016-09-14 14:59] aleixpol commented on #6
Kamoso 3.3, which hasn't been released yet. I'll add a todo item.

[2016-09-20 11:54] jriddell commented on #18
we update the packagekit in neon because discover needs a newer packagekit.  aptdaemon uses an old packagekit so the two don't like to be installed side-by-side.  A newer aptdaemon might be possible I'll investigate.  But I'm still unsure why this is needed.

[2016-09-20 17:20] nmabhinandan commented on #18
New Intel graphics installer needs aptdaemon

On Sep 20, 2016 5:24 PM, "Jonathan Riddell" <notifications@github.com>
wrote:

[2016-09-21 13:19] jriddell commented on #12
Breeze artist Andreas K says he'll make breeze icons cover all icons in adawita which would solve this

[2016-09-21 13:22] jriddell commented on #26
Looks like it's fixed, closing
https://bugs.kde.org/show_bug.cgi?id=366283

[2016-09-21 13:22] #26 closed

[2016-09-21 13:55] jriddell commented on #19
whether it offers to resize just depends on whether the installer thinks there is enough free space to be able to do so.  When there's not enough free space to be able to do so it won't offer it

[2016-09-21 16:01] star-buck commented on #19
so in the examples above, 159GB or the 1 partition of 500GB isnt enough?

[2016-09-21 16:03] star-buck commented on #19
the reason i closed this is because for maui and netrunner we switch to calamares, but ill test neon for that anyway whenever i download a new dev ISO in the future, no need to pursue this imo further unless its a topic for neon.

[2016-09-21 16:06] star-buck commented on #12
imo thats only a catchup and could break again temporary every now and then.
Doesnt this also make breeze icon set huge and a mixed bag with non-breezish adwaita?
Why not use the fallback method correctly, which is possible for gtk2 and gtk3 as well?

[2016-09-22 17:07] jriddell commented on #18
added aptdaemon to the archives and it seems to install
I can't test it since nobody has said what it's needed for and I don't know what the new intel graphics installer is

[2016-09-22 17:07] jriddell commented on #21
should be fixed in plasma/5.7

[2016-09-22 17:07] jriddell commented on #21
should be fixed in plasma 5.7.5

[2016-09-22 17:30] jriddell commented on #18
discovered it at
https://01.org/linuxgraphics/downloads/intel-graphics-update-tool-linux-os-v2.0.2
and it seems to work as expected
(although you need to set DISTRIBUTOR_ID=Ubuntu in /etc/lsb-release sigh

[2016-09-22 18:21] nmabhinandan commented on #18
👍👌

On Sep 22, 2016 11:00 PM, "Jonathan Riddell" <notifications@github.com>
wrote:

[2016-09-23 15:24] star-buck commented on #18
i still get :
aptdaemon : Depends python3-aptdaemon (=1.1.1+bzr982-0ubuntu14) but it is not going to be installed

[2016-09-23 15:29] jriddell commented on #18
what does it say if you  apt install python3-aptdaemon  ?

[2016-09-23 17:08] star-buck opened #27 "[network monitor plasmoid]: add up/down arrow icons"
would be much nicer imo if up and down arrow were in front of the two numbers:
![nmplasmoid](https://cloud.githubusercontent.com/assets/840070/18794706/230155ba-81c1-11e6-93d5-129d20a4541e.png)
copy&pasted:
![up-down](https://cloud.githubusercontent.com/assets/840070/22113468/af6ead0c-de66-11e6-9b7e-abc3e2e59394.jpg)

[2016-10-05 12:08] star-buck opened #28 "[gtk settings kcm]: Adwaita icon theme is not listed in dropdown"
even if fully installed, Adwaita icon theme is not listed as option in dropdown.

[2016-10-05 12:59] aleixpol commented on #28
Fixed in Plasma/5.8 branch as of: https://quickgit.kde.org/?p=kde-gtk-config.git&a=commit&h=ac0fd79e06f4c9dd2baaa34f13e8bebec36ba83c

[2016-10-06 09:21] star-buck commented on #9
@davidedmundson : is this on purpose or what might be the cause of this?

[2016-10-06 09:24] star-buck commented on #12
ok/cancel button also affected:
![screenshot_20161005_111846](https://cloud.githubusercontent.com/assets/840070/19147225/72aeb210-8bb7-11e6-9c64-3b6654520f16.png)

[2016-10-06 09:25] star-buck commented on #28
great thanks, should be in 5.8.1 then?

[2016-10-06 09:55] star-buck opened #29 "[wallpapers]: svg wallpapers dont show a preview in wallpaper dialog"
recent example available via GHNS:
https://store.kde.org/p/1156565/

[2016-10-06 11:19] aleixpol commented on #28
Yes

[2016-10-10 20:25] star-buck commented on #9
@davidedmundson : ping...

[2016-10-11 09:07] notmart commented on #29
https://phabricator.kde.org/D3017

[2016-10-11 09:07] davidedmundson commented on #9
Found it.

It tries to play a sound notificaton and waits for that to end before doing the final stage.
If that fails to finish for whatever reason,  - there's a timeout after 5 seconds to give up and continue

It's /possibly/ fixed by a commit to knotification last week. I'll test that, failing that I'll make a patch for this.

[2016-10-11 10:41] notmart commented on #29
pushed in 5.8 and master

[2016-10-18 15:13] star-buck opened #30 "[peruse]: white text on light grey"
![screenshot_20161018_171031](https://cloud.githubusercontent.com/assets/840070/19483949/38cc5482-9556-11e6-8845-3352410c3b29.png)

[2016-10-20 17:28] star-buck opened #31 "[dash]: recent applications: new clicked app is put in 9th position if more than 9 apps are listed"

[2016-10-21 03:50] eikehein commented on #31
Can you show us a video or a screenshots or so? I don't really understand this well without a visual, and I need to sort out if it's a UI code problem or KActivities backend :)

[2016-10-22 09:56] star-buck opened #32 "[wallpaper dialog]: marker of selected wallpaper jumps to previous wallpaper in grid overview when installing a new wallpaper over GHNS"

[2016-10-22 10:00] star-buck opened #33 "[splashscreen, looknfeel, window deco kcm]: selection marker _jumps_ through all entries before "landing on the current selected entry""
places seen this:
wallpaper dialog, desktop theme kcm, lookandfeel theme

[2016-10-22 14:01] star-buck opened #34 "[window decoration kcm]: customize button sometimes misaligned"
![screenshot_20161022_155924](https://cloud.githubusercontent.com/assets/840070/19619876/b8d190d0-9870-11e6-871d-500637e6b63e.png)

[2016-10-22 14:01] star-buck commented on #34
e.g. the Carbon button is located at "Maui" top right corner...

[2016-10-22 14:02] star-buck commented on #29
works nicely in 5.8.2

[2016-10-22 14:02] #29 closed

[2016-10-22 14:03] star-buck commented on #6
@aleixpol :  kamoso 3.3 now released?

[2016-10-23 10:15] star-buck opened #35 "[kwallet]: seems broken when logging out and in again from sddm [plasma 5.8.2, kf5.27]"
Maybe someone has a clue what might be going on:
http://forums.mauilinux.org/showthread.php?tid=24027&pid=39950#pid39950

[2016-10-25 14:30] star-buck opened #36 "[breeze widget style]: disabled animations will not allow moving panels and crash some apps like kdenlive while trying"
since Animations are disabled on Maui and Netrunner, this affects all out installs and a patch to fix this would be very welcomed.

[2016-10-25 14:31] star-buck commented on #36
https://bugs.kde.org/show_bug.cgi?id=371667

[2016-10-25 18:16] star-buck commented on #31
Simply start 10 different apps from dash to see: the last app is not put in
first position under recent app, but 9th.
On Oct 21, 2016 5:50 AM, "eikehein" <notifications@github.com> wrote:

[2016-10-25 21:19] ivan-cukic commented on #31
(copying from https://github.com/blue-systems/plasma-5.5/issues/26)

The issue of the wrongly sorted items in the recent applications should be resolved with the KF28 release (current master).

Mind that this issue was with all applications that are used for the first time, not only for newly installed applications (KAStats library has no idea what applications are to be influenced by whether some

[2016-10-26 08:54] notmart commented on #36
just to confirm: the setting in maui is:

[Units]
longRuration=0

in the file called plasmarc?

[2016-10-26 08:58] notmart commented on #36
with that setting i cannot reproduce the crash, must be some other setting

[2016-10-26 09:15] notmart commented on #36
talked with leszek, seems to be a Qt bug already solved in 5.7.1

[2016-10-26 15:49] star-buck commented on #36
Ah nice, lets wait for that then.
On Oct 26, 2016 11:15, "Marco Martin" <notifications@github.com> wrote:

[2016-10-27 14:48] aleixpol commented on #6
3.2.1 released today has this fix: http://download.kde.org/stable/kamoso/3.2/src/

Sorry for being so slow on this one.

[2016-11-24 20:54] star-buck opened #37 "[samba-mounter] enable password auth"
Password auth requested to be made useable:
https://forums.mauilinux.org/showthread.php?tid=24126&page=2

[2016-11-25 15:27] notmart commented on #33
If i understood correctly, the issue is that in those kcms the selected item looks like it's the first for a moment, then the proper one gets selected afterwards, sometimes causing scroll of the view, right?

[2016-11-25 15:30] star-buck commented on #33
Right, mostly doing a "wheel of fortune" spinning the marker forward until it lands on the active one.

[2016-11-25 16:58] notmart commented on #33
I think i found out where the issue lies. I still have to do some tests for a couple of possible fixes, but should be fixable without any graphics glitch left

[2016-11-25 22:35] star-buck opened #38 "[discover]: change "Link to product page" for KDE Store items from backend URL to frontend URL"
For Addons like Widgets that come from the Store, the link given to the product page is currently pointing to api.kde-look.org backend, I suggest to change it to frontend.

This can simply be changed to point to the frontend by replacing "api.kde-look.org" with "store.kde.org" while keeping everything else following the same, e.g.:
api.kde-look.org/p/1234567890 -> store.kde.org/p/1234567890

[2016-11-26 08:49] star-buck commented on #38
Here is an example of where it occurs:
![screenshot_20161126_093553](https://cloud.githubusercontent.com/assets/840070/20639221/83faabae-b3bd-11e6-915a-e97ee87c51b5.png)

[2016-11-26 09:09] star-buck opened #39 "[GHNS]: show new Wallpaper Category Names"
I just stumbled over this and noticed that we still show the filters for the legacy names, even though some of those are no longer in use and have changed name in the clean up:

![screenshot_20161126_093553](https://cloud.githubusercontent.com/assets/840070/20639306/c35e657c-b3bf-11e6-9ed2-6cc6ad3615b9.png)

The ones that are mapped/in use:
Legacy Name -mapped to-> New Name (new ID in parenthesis)

[2016-11-26 09:14] star-buck commented on #23
closing since done.
(we imo still should think about changing folderview to become the default desktop containment again since thats among one of the most asked questions from people about the unusual/confusing behaviour of plasmas current default containment).

[2016-11-26 09:14] #23 closed

[2016-11-28 07:52] davidedmundson commented on #34
On review: https://phabricator.kde.org/D3526

[2016-11-28 09:37] davidedmundson commented on #34
Merged. Will be in 5.8.5

[2016-11-28 14:18] aleixpol commented on #38
Hi, I've been looking into the issue, it's OCS suggesting this page itself. It would be better if this could be solved at the server side.

This can be checked easily by: `curl "https://api.kde-look.org/ocs/v1/content/data?categories=155&distribution&license&search&sortmode=new&page=1&pagesize=100" | xmllint --format - | less`

You'll see tuples like this:
[code]

Especially this line: `<detailpag

[2016-11-29 14:45] notmart commented on #33
Tentative fixes landed and ready to be tested
fix for l&f kcm: https://cgit.kde.org/plasma-desktop.git/commit/?id=ee2ec66a415580a5c4ccfdb34e5f6e68a7739652
plasma theme kcm: https://commits.kde.org/plasma-desktop/d9d52a37c6ba267f7da936c0436b254788f7cb87
wallpaper: https://commits.kde.org/plasma-workspace/5434e4bc014181841df0e24979e03288584b8696
(latter one should solve https://github.com/blue-syste

[2016-11-29 14:45] notmart commented on #32
should be fixed in
https://commits.kde.org/plasma-workspace/5434e4bc014181841df0e24979e03288584b8696

[2016-11-29 15:11] notmart commented on #39
I tried to change to new names, but it doesn't work (specifying ids directly in knsrc doesn't either)
in https://api.kde-look.org/ocs/v1/content/categories only the old names are listed.
However the other old categories have been removed now in 5.8 and master, so while the combobox still shows the old category names, at least the broken categories aren't there anymore.

[2016-11-30 11:26] star-buck commented on #37
@aleixpol : can you add password auth for samba-mounter and/or ask afiestas about his thoughts for this?

[2016-12-01 01:30] aleixpol commented on #37
Fixed as of https://cgit.kde.org/scratch/afiestas/samba-mounter.git/commit/?id=9869c1fc6948c59a0bc839ff78ed9625fe9f225b

[2016-12-01 08:08] star-buck commented on #37
Thanks a lot, will update packages and close after testing.

[2016-12-02 21:05] star-buck opened #40 "[LookandFeel]: Ticking "Use desktop Layout from Theme" freezes System Settings (Plasma 5.8.4)"

[2016-12-03 15:02] star-buck opened #41 "[sddm]: login screen rejects jpg format for avatars (only allows png?)"
User reported this here: http://forums.mauilinux.org/showthread.php?tid=24140
Is this a global issue and can be fixed in sddm or is it theme related?

[2016-12-09 12:11] davidedmundson commented on #41
It seems to be a non issue.

1) UserManager will always save ~/.face as a PNG

2) SDDM will load .jpg files just fine. I just tested it on SDDM's default theme, and Breeze.

I haven't explicitly tested Maui's theme, but I can't see why it would be different. It would take more work to break it.

So the user is getting confused, he's also talking about a directory that doesn't get used by SDDM.
I'l

[2016-12-09 12:31] star-buck commented on #41
Great thanks!

[2017-01-11 14:47] star-buck opened #42 "[libinput]: slow mousewheel scrolling for qml widgets when using libinput"

[2017-01-12 20:39] star-buck opened #43 "[dash]: clicking on "all applications", then Widgets, leaves Applications visible instead of showing Widgets"
![screenshot_20170112_213908](https://cloud.githubusercontent.com/assets/840070/21907390/a66faf14-d90f-11e6-8198-9f0e95c2bb9b.png)

[2017-01-12 20:44] star-buck opened #44 "Widgets: Comic Strips is displayed under "Graphics", would fit better under "Fun and Games"(?)"
![screenshot_20170112_214408](https://cloud.githubusercontent.com/assets/840070/21907553/44d20080-d910-11e6-9dd1-d1c33ad9c695.png)

[2017-01-12 20:45] star-buck opened #45 "[dash]: add "all widgets" entry?"
or is it too heavy to display all?

[2017-01-12 21:18] star-buck opened #46 "[ghns]: wallpapers: cannot "install" some wallpapers (they seem to download but the button doesnt switch to "uninstall")"
e.g. https://store.kde.org/p/1161830 :
![screenshot_20170112_221654](https://cloud.githubusercontent.com/assets/840070/21908677/fac227f4-d914-11e6-889d-e3b495d6b3da.png)

[2017-01-12 21:22] star-buck commented on #46
seems to affect almost all wallpapers, so this could be on ocsserver side or ghns/kns.
I recall though it still worked fine on 5.8.x, but will check that too in a minute.

[2017-01-12 21:23] star-buck commented on #46
odd: affects other ghns stuff too, like mouse cursors, but some could be downloaded, while others failed:
![screenshot_20170112_222243](https://cloud.githubusercontent.com/assets/840070/21908818/b7ba9b5c-d915-11e6-831e-bfebffde8733.png)

needs further investigation tomorrow.

[2017-01-12 21:25] star-buck commented on #33
still jumps on:
- splash screen kcm
-

[2017-01-12 21:28] star-buck commented on #40
works now and works awesome (tested with ghns downloaded "United", which downloaded fine), and it updated the layout accordingly.

[2017-01-12 21:28] #40 closed

[2017-01-12 21:29] star-buck commented on #37
works!

[2017-01-12 21:30] star-buck commented on #33
also window deco still jumps

[2017-01-12 21:38] star-buck opened #47 "question: is wayland starting default on kde neon 5.8.90?"
because i cant seem to find anything under kinfocenter, though it certainly feels very smooth...
but then it seems almost too perfect, so i guess not? ;)
![screenshot_20170112_223830](https://cloud.githubusercontent.com/assets/840070/21909334/dfb4d030-d917-11e6-982c-da2f46bf158f.png)

[2017-01-12 21:40] #30 closed

[2017-01-12 21:40] #17 closed

[2017-01-12 21:41] star-buck commented on #9
seems fixed.

[2017-01-12 21:41] #9 closed

[2017-01-12 21:54] star-buck commented on #38
should be changed.

[2017-01-12 21:54] #38 closed

[2017-01-12 21:55] star-buck commented on #34
works!

[2017-01-12 21:55] #34 closed

[2017-01-12 22:05] star-buck commented on #39
the question is:
Can we ever change the names to the real category names as in the store?
Or do we then break it backwards automatically?
Then what I suggest is we start serving old and new category names over OCS, instead of only the legacy ones and you can start switching from one to the other after a certain version?

[2017-01-12 22:13] star-buck opened #48 "[desktop session kcm]: UNTICKED "offer shutdown options" still shows them when pressing power button"

[2017-01-13 07:51] eikehein commented on #45
No, there's actually supposed to be "All Widgets". Must have broken somehow, will investigate and fix before 5.9 final :).

[2017-01-13 07:52] eikehein commented on #43
Confirmed, will fix (small logic error).

[2017-01-13 08:30] eikehein commented on #43
Fixed in plasma-desktop fb285cdecfa8df5eaf55b9cfdcc1fd10a67ab503.

[2017-01-13 08:42] eikehein commented on #45
Fixed in plasma-workspace abd5a4a1ce5af2cb5d125acd82716ff6cb77a980.

[2017-01-13 09:35] star-buck commented on #39
it would look like this (you could choose in the future to always show the display_name, and then either still match the name, display_name or even the id to make it less error prone):
[code]

[2017-01-13 10:15] star-buck commented on #37
just reopen to check if this has anything todo with the recent changes we made:
https://forums.mauilinux.org/showthread.php?tid=24229&pid=41323#pid41323

[2017-01-13 11:10] jriddell commented on #47
Not yet but with Plasma 5.9 nearly out it's about time to do that.  The main issue I think is with fancy graphics cards, I get people saying it doesn't work with nvidia or the like.  I'd like to make the change at the Plasma sprint in a couple of weeks after getting feedback from Plasma devs.

In the mean time just apt install plasma-wayland-desktop and log out and select the wayland session on lo

[2017-01-13 11:43] aleixpol commented on #37
I doubt the commit here is the culprit because it was broken beforehand. We need to be able to reproduce though, to get a fix. Or at least to know how his case is different...

[2017-01-13 11:58] notmart commented on #46
the cursor (intrusion 2) is actually broken content on the server.
while the problem of wallpapers is an actual one and should be fixed by
https://commits.kde.org/knewstuff/7993c90088779a3140187c5adf5ee1f04b6c8ff4
update of knewstuff framework package should fix the issue

[2017-01-13 12:05] star-buck commented on #47
Makes sense.

[2017-01-13 14:53] notmart commented on #39
with https://phabricator.kde.org/D4120 and https://phabricator.kde.org/D4121

the display name are used
![eojxvcu](https://cloud.githubusercontent.com/assets/4526371/21934090/66ccc128-d9a8-11e6-9d66-439330ac2a3c.png)

[2017-01-13 15:30] notmart commented on #39
should be testable when new frameworks packages land in neon devel

[2017-01-13 15:46] #47 closed

[2017-01-13 16:06] star-buck commented on #39
Now can the dropdown also be ordered by display_name?

[2017-01-14 13:11] star-buck commented on #46
notmart: is this frameworks side or plasma side? Please provide a clear version, when it should be fixed publicly, like this hopefully is not an issue with kf5.30?
https://www.kde.org/announcements/kde-frameworks-5.30.0.php

[2017-01-14 18:45] notmart commented on #46
it's a framework issue (KNewStuff framework) and yes, 5.30 should be affected, so fix would be with 5.31

i can ask if is possible to respin a 5.30.1 tarball for KNewStuff

[2017-01-14 18:49] star-buck commented on #46
I would absolutely think so, wallpaper Ghns otherwise is almost completely
broken.

Whoever even tested this once thouroughly (for real and not theory) before
giving it a ship it?

[2017-01-15 10:19] notmart commented on #46
5.30.1 has been released with the fix

[2017-01-16 12:14] notmart commented on #39
patch to alphabetically order the list, waiting for review https://phabricator.kde.org/D4156

[2017-01-19 15:21] star-buck commented on #27
@leinir : this imo fits with your current activities :)

[2017-01-19 15:45] star-buck commented on #27
copy&pasted:
![up-down](https://cloud.githubusercontent.com/assets/840070/22113468/af6ead0c-de66-11e6-9b7e-abc3e2e59394.jpg)

[2017-01-21 23:33] #37 closed

[2017-01-31 16:40] star-buck opened #49 "[printer kcm]: settings not saved"
reported here:
https://forums.mauilinux.org/showthread.php?tid=24133&pid=40693#pid40693

[2017-02-03 16:17] #45 closed

[2017-02-03 16:18] star-buck commented on #43
works correct now

[2017-02-03 16:18] #43 closed

[2017-02-03 16:32] star-buck opened #50 "dolphin: show menubar is TICKED when not shown and UNTICKED when shown"
![screenshot_20170203_172126](https://cloud.githubusercontent.com/assets/840070/22599317/c0050446-ea36-11e6-95b7-713bdc60df6c.png)

[2017-02-03 16:39] star-buck opened #51 "dolphin: malformed URL when clicking on Network: Samba Shares (but manually entering smb:// works fine)"
![screenshot_20170203_173753](https://cloud.githubusercontent.com/assets/840070/22599585/b8bbc4f8-ea37-11e6-8ecb-0323459aab8a.png)

[2017-02-03 16:41] #24 closed

[2017-02-03 16:49] #32 closed

[2017-02-03 16:53] star-buck commented on #33
tested on neon5.9 and still those two kcm selection markers "jump"

[2017-02-03 16:54] #46 closed

[2017-02-03 16:56] star-buck opened #52 "[window deco kcm]: applying a change causes a crash"
![screenshot_20170203_171425](https://cloud.githubusercontent.com/assets/840070/22600258/08cfd6da-ea3a-11e6-86d1-e0a24039c814.png)

[2017-02-03 16:58] star-buck opened #53 "clipboard: copy something from firefox, then closing firefox and pasting in e.g. kwrite doesnt work"
tested on latest neon 5.9 user edition

[2017-02-03 16:59] star-buck commented on #53
open firefox
select some text and copy it to clipboard
close firefox
open kwrite
paste shows no output

[2017-02-03 17:06] star-buck opened #54 "wallpaper dialog: when selecting a wallpaper that is further down the list, there appears a white empty first placeholder when closing and reopening dialog"
oddly when selecting some wallpaper like from the first 9 entries, there doesnt seem to be the gap appearing (not sure when or why exactly it appears yet).
Compare;
![screenshot_20170203_180338](https://cloud.githubusercontent.com/assets/840070/22600577/73cfdcae-ea3b-11e6-9b4b-dd695c6a81a0.png)
![screenshot_20170203_180401](https://cloud.githubusercontent.com/assets/840070/22600592/7b4252a0-ea3b-1

[2017-02-03 17:35] davidedmundson commented on #52
Will do.
Fwiw, I know of this one already, I spent a bit of time on it before relrase

[2017-02-03 17:38] davidedmundson commented on #52
Ugh. Hit close whilst typing. It affects all qml kcms. We think caused by some Qt change.
Not identified the exact cause yet, it's deep in qml internals.

[2017-02-03 17:57] star-buck commented on #52
While any qml kcm might be affected, its so far actually only happening
with window deco kcm  on neon5.9, using qt5.7.1.

[2017-02-03 18:15] davidedmundson commented on #52
The Qt bug report:
https://bugreports.qt.io/browse/QTBUG-57714

[2017-02-06 16:44] star-buck commented on #39
frameworks 5.31

[2017-02-07 10:32] star-buck opened #55 "notify sounds: fix audio delay"

[2017-02-08 10:28] star-buck opened #56 "[taskmanager]: right-click on a pinned, but not started launcher opens option popup below"
![screenshot_20170208_112750](https://cloud.githubusercontent.com/assets/840070/22733344/abb2a958-edf1-11e6-9d5b-3dcf5821e4e5.png)

[2017-02-08 10:29] star-buck opened #57 "[systray]: right-click on a systray icon, then left-click on the desktop, then right-click on the same systray icon again doesnt bring up options popup"

[2017-02-09 09:47] eikehein commented on #56
This is kinda sorta not a bug - the only reason the other menus open above is because they don't have enough room to go below ... I can see why for consistency we might want this to go above too though, looking into it.

[2017-02-09 10:17] star-buck opened #58 "file shows 0 size in ark"

[2017-02-09 10:24] notmart commented on #58
upstream KDE bug:
https://bugs.kde.org/show_bug.cgi?id=376225

[2017-02-09 18:04] star-buck opened #59 "widgets: disk quota missing image"

[2017-02-10 12:46] eikehein commented on #56
Patches under review:
https://phabricator.kde.org/D4546
https://phabricator.kde.org/D4547

[2017-02-10 15:37] eikehein commented on #56
Modified version of D4546 is merged now (D4547 is no longer needed). This fix is in plasma-framework and will be released with KF 5.31.

[2017-02-10 15:52] star-buck commented on #56
Awesome, thanks.

[2017-02-13 11:46] notmart commented on #58
next applications release should fix it:
https://commits.kde.org/ark/c1a72a8e053a859946a4b96effdc9193f7afe10b

[2017-02-13 18:05] star-buck opened #60 "TM: IOTM launchers do not stay in place"
* icon-only TM:
* sorting of pinned launchers do not stay in place
* start and pin kcalc, close it
* start and pin kate, close it
* drag kate to first spot
* starting kate moves icon to last spot and stays there after closing

[2017-02-13 18:31] eikehein commented on #60
Ivan's per-activity launcher pinning work for 5.9 hosed this completely, we've been getting various reports. I need to investigate it soon.

[2017-02-13 18:32] eikehein commented on #60
https://bugs.kde.org/show_bug.cgi?id=375924 upstream

[2017-02-13 23:02] eikehein commented on #60
I have a solid idea of what's broken now, will probably get fixed tomorrow :)

[2017-02-14 15:57] eikehein commented on #60
Fixed by https://commits.kde.org/plasma-workspace/dda4d42e891a386c747fbe0e5698ca019921d3a1

Fix will be in plasma-workspace 5.9.2.

[2017-02-15 13:35] star-buck opened #61 "widgets: "disk quota" missing picture"
![screenshot_20170215_143407](https://cloud.githubusercontent.com/assets/840070/22976659/00fe8d2e-f38c-11e6-93df-2c6b194f485f.png)

[2017-02-15 13:47] #59 closed

[2017-02-15 15:58] #39 closed

[2017-02-15 16:00] star-buck commented on #8
dolphin:
right-click on folder, right-click again without moving mouse to close popup, right-click again without moving mouse sometimes doesnt make popup appear again.

[2017-02-16 21:25] notmart commented on #8
on the issue that happens for the alternatives menu item, i found that it happens sometimes when the "panel options" submenu is open (not every time, seems to happen only when the submenu appeared since a very short time)
in QMenu::mousePressevent, the proper mouse press event always arrives, and the proper action is always set in the call to QMenuPrivate::setCurrentAction() in the event handler,

[2017-02-16 21:40] notmart commented on #8
seems the problem is in mouseReleaseEvent, sometimes d->mouseDown is nullptr, that makes the event handler bail out and the action not triggered

[2017-02-16 21:45] notmart commented on #44
moved it to fun&games in master

[2017-02-16 22:07] notmart commented on #8
i *think* i have a Qt patch: https://paste.kde.org/ptp5z0eua
d->mouseDown is static, so when you click on alternatives, if the panel options submenu is open, if the events gets delivered in just the right order (that's why doesn't always happen) the submenu gets hidden, resets d->mouseDown and then the mouse release event bails out. i *think* it may be correct to reset it only when mouseDown is th

[2017-02-16 22:15] davidedmundson commented on #8
Does the submenu shares the same d pointer? I didn't think it did.
If it doesn't, then I don't understand this patch.

Also if your logic is right, is the first d->mouseDown = 0 in the early return in mouseReleaseEvent wrong too?

Interestingly, (or rather frustratingly) it doesn't seem this dolphin bug that I'm looking into is the same thing.

[2017-02-16 22:38] davidedmundson commented on #8
Update: Now I understand what you said:
different d, shared d->mouseDown

Based on that we have a reliable way to reproduce what that bug is fixing:
 - *click* on panel options
 - move over alternatives
 - release

It's not entirely the same as starbuck's report, but it's effectively the same thing, click down - submenu hide event - click release, just easier to force that getting the clicks exact

[2017-02-16 23:35] davidedmundson commented on #8
Writing my notes on the dolphin bug:

The times it's failing are when we get QGraphicsScenePrivate::mousePressEventHandler  with the new right click before the QGraphicsScenePrivate::ungrabMouse

Right now I can't give a good writeup of when or why that happens.

[2017-02-17 10:25] davidedmundson commented on #8
I can see exactly what's happening.

QtGraphicsView works as follows, when you click an item grabs the mouse (probably a folder icon or something).

If you release whilst that window still has focus, it releases it.
However, for context menus (like all context menus) it has that awful issue that the window gets the mouse down, then never gets the mouse released because the app creates a new window

[2017-02-17 10:47] notmart commented on #8
https://codereview.qt-project.org/#/c/185946/

[2017-02-17 13:24] notmart commented on #61
drawn a picture for it, asking the breeze icons maintainer to include it

[2017-02-17 15:09] notmart commented on #54
related fix that may help on the issue (as sometimes the selected wallpaper is not visible when the window opens)
https://phabricator.kde.org/D4648

didn't manage yet to reproduce reliably the empty slot issue

[2017-02-18 19:44] #6 closed

[2017-02-18 19:45] star-buck opened #62 "kamoso: error while starting"
netrunner@netrunner-pc:$ kamoso
Playing device changed "/dev/video0"
Cannot initialize model with data QJsonObject() . missing: QJsonValue(string, "urls")
new gamma 103
new gamma 104
file:///usr/lib/x86_64-linux-gnu/qt5/qml/QtQuick/Controls/Slider.qml:204:5: QML RangeModel: Binding loop detected for property "value"
New saturation  100
New contrast  100
terminate called after throwing an instance

[2017-02-19 01:03] aleixpol commented on #62
Can you give me an iso of where this has been tested? it's possibly missing some package installed.

[2017-02-19 08:55] star-buck commented on #62
Sure, tested on this one: http://dev.netrunner.com/dev/maui-3-dvd-64bit-build6.iso

[2017-02-20 12:41] aleixpol commented on #62
Here's a patch: https://commits.kde.org/kamoso/68c0ec95b4f3f0c51ffab558298758eeeae8c489

Will start the the stable release procedure.

[2017-02-20 16:09] davidedmundson commented on #8
Dolphin patch: https://git.reviewboard.kde.org/r/129960/

[2017-02-21 10:08] notmart commented on #8
@apachelogger can this patch be added to our qt build waiting it's upstreamed? https://codereview.qt-project.org/#/c/185946/

[2017-02-21 10:09] notmart commented on #33
splash screen kcm fixed on master

[2017-02-21 11:43] aleixpol commented on #62
http://download.kde.org/stable/kamoso/3.2/src/kamoso-3.2.3.tar.xz.mirrorlist

[2017-02-21 12:03] notmart commented on #33
for kwin https://phabricator.kde.org/D4703

[2017-02-21 12:41] davidedmundson commented on #52
FYI, this should be fixed (worked around) in Plasma 5.9.3

See cb481b492271860586c69298395e2ba118239406 and 51c4d6c8db8298dbd471fa91de6cb97bf8b4287a in kscreenlocker

[2017-02-21 13:49] aleixpol commented on #62
Leszek found an issue when started without cameras, will issue a new one as soon it's confirmed to work for him.

[2017-02-21 14:21] llelectronics commented on #62
Yeah the patch from here: https://cgit.kde.org/kamoso.git/commit/?h=3.2&id=5363bd425a41a12c663e73e2a873df8dc6284684

works and banana man turns up when no camera is found

[2017-02-22 10:49] jriddell commented on #62
I built 3.2.3 in Neon user edition and it works fine (although annoyingly not in a docker or virtual machine).

The master build in Neon developer unstable doesn't start and gives this output:

Playing device changed "/dev/video0"
Cannot initialize model with data QJsonObject() . missing: QJsonValue(string, "urls")
new gamma 111
new gamma 112
file:///usr/lib/x86_64-linux-gnu/qt5/qml/QtQuick/Contro

[2017-02-23 17:29] eikehein commented on #60
Unfortunately it turned out there's another, second bug in the activities work causing something similar.

Follow-up patch under review: https://phabricator.kde.org/D4749

This second fix should be in 5.9.3.

[2017-02-24 14:48] eikehein commented on #60
Second fix landed, will be in plasma-workspace 5.9.3.

So with this, this is hopefully done.

[2017-02-24 15:01] notmart commented on #33
fixes laded, should be testable on devel edition

[2017-02-24 15:01] notmart commented on #54
may be tested again with the related positioning fixes, may have fixed this as well

[2017-03-02 15:58] UralZima opened #63 "Start Plasma 5.9.3 with nouveau.noaccel=1 (no 3D acceleration)"
I am tired of nouveau freeze and lockups. But don't want to switch to shitty nvidia binary driver. So I decided to disable any 3D acceleration, I don't need it. I have already configured XRender as my compositor, but when I boot with nouveau.noaccel=1, after login on sddm, plasma don't start. Segmentation fault on /usr/lib64/libexec/kf5/kscreen_backend_launcher.

Please help me totally disabling a

[2017-03-02 17:43] davidedmundson commented on #42
Found it.

In summary because libinput tries to be smart, and make mouse wheel events and trackpad scrolls look the same to apps. Qt tries to be smart and treat mouse wheels and trackpads differently with different speeds. That no longer works.

I've filed a Qt bug where the root cause is.
https://bugreports.qt.io/browse/QTBUG-59261

I'll make a Qt patch for Netrunner/Maui that hides the worst of

[2017-03-03 09:27] star-buck commented on #56
@eikehein :
using plasma5.9.3 and KF5.31 but still same behaviour

[2017-03-03 15:58] eikehein commented on #56
It's fine here ...

![screenshot_20170304_005735](https://cloud.githubusercontent.com/assets/2744902/23558062/963fcdc6-0075-11e7-91a6-3619cdbc80db.png)

Let me try to find out what happened release-wise.

[2017-03-03 16:03] eikehein commented on #56
Apparently the fix (701771833ee1d60) isn't in 5.31 sadly, looks like it was tagged before. Fix and tag were on the same day :(.

[2017-03-06 13:40] notmart commented on #53
@davidedmundson you mentioned you had some work in progress hack?

[2017-03-06 14:06] davidedmundson commented on #53
It's a bug in firefox.

When an app closes it sends a signal to the clipboard manager to say "take ownership of the last thing I copied".
Klipper listens to this and when it gets that request, it tells X "I now have the latest clipboard contents".

For whatever reason that isn't happening.

We could make klipper repopulate the

[2017-03-07 15:25] star-buck opened #64 "[window decorations]: fix "shadow artifact" when moving windows"
still seen on reviews as well as locally:
https://www.youtube.com/watch?v=IfbHVApLbyg&feature=youtu.be&t=79
https://www.youtube.com/watch?v=znvuZuqtVaA&feature=youtu.be&t=19
also different theme:
https://www.youtube.com/watch?v=znvuZuqtVaA&feature=youtu.be&t=441

Any idea how to solve this and also possibly related the appearance of the window theme frame a few seconds later than the content of th

[2017-03-08 09:54] star-buck commented on #60
please mark "ready for QA", so one can easily spot whats supposed to be fixed.

[2017-03-08 09:56] star-buck opened #65 "[desktop]: right-click brings up "garbled mess""
![screenshot_20170308_105045](https://cloud.githubusercontent.com/assets/840070/23699012/eff3160e-03ed-11e7-905a-b7411292d0c7.png)
i dont know why this happens on the same machine where everything else always ran fine in the past, maybe its something in netrunner that is configured differently without us noticing?

[2017-03-08 10:56] star-buck commented on #65
another garbled:
![screenshot_20170215_122911](https://cloud.githubusercontent.com/assets/840070/22973032/9f89c306-f37c-11e6-8ee7-1804567c0065.png)

[2017-03-08 12:29] notmart commented on #64
I've found a way to reliably reproduce it on different systems:
* use an aurorae decoration (breeze and the other native ones don't have the problem)
* disable some kwin effects:
    * maximize animation
    * fade in
    * translucency
(as those effects cause some extra repaints that would clean up the screen.)
* maximize a window (better if it's the only window in the desktop)
* unmaximize it by

[2017-03-08 15:19] star-buck commented on #65
video of invisible context menu with shadow frame:
https://www.dropbox.com/s/dd4koohtdfht27q/glitches.mkv?dl=0

[2017-03-08 15:33] notmart commented on #64
replacing this queued connection with a direct invocation  seems to make things better here
https://paste.kde.org/pydvafhkk

[2017-03-08 18:50] davidedmundson commented on #64
I think you've found the bug (good work btw), but I don't think the solution is quite that simple.

On xrender it's rendering the shadows first presumably as the main deco could paint over them.
On OpenGL it's getting the quads for both, then rendering both.

The Auorae code is updating the shadow inside decoration::paint   - basically updating the decoration whilst it's painting the decoration. Q

[2017-03-08 21:02] notmart commented on #64
if i compare it with what oxygen or breeze are doing, they are regenerating the shadow on the signal
KDecoration2::DecoratedClient::activeChanged, which is probably the correct thing to do.
if i do the same in fact the glitch is gone, but, since the pixmaps are generated with another timer, i get the outdated shadow pixmap, so when the window is active i get a shadow that look inactive and vice ve

[2017-03-08 23:02] davidedmundson commented on #64
I built on top of that idea and moved things earlier.

https://paste.kde.org/ppfo3gb3b

We go from QtQuick to a pixmap buffer every update.
  ::paint simply does a copy of that buffer.

We can update the shadow when we update the buffer. Code seems like it should do things all in the right order now.

It's a bigger rewrite, but I think it's more correct.

[2017-03-09 10:33] notmart commented on #64
seems the problem is still happening here :/

[2017-03-10 11:07] star-buck opened #66 "TM: some programs invoke two consecutive tasks"
e.g. System Settings:
https://www.dropbox.com/s/40aw11zrkycpwxb/TM-system-settings.mkv?dl=0

maybe its possible to obmit or only show one?

[2017-03-10 12:13] star-buck opened #67 "systray: right-click brings up some context-menus way above, e.g. skype"
it was working fine under Plasma 5.7 and 5.8 before, now does this:
https://www.dropbox.com/s/8noa12gu3wkn50j/skype-right-click.mkv?dl=0

[2017-03-10 14:35] eikehein commented on #66
This is most likely a bug in System Settings, will look into it.

[2017-03-10 14:36] eikehein commented on #66
(It's not actually two tasks, it's the startup notification and the window, and the latter doesn't match the former because they don't match in app ids.)

[2017-03-10 15:26] star-buck commented on #66
Do other apps solve this?
Or why is it a different id with SS?

[2017-03-10 15:27] eikehein commented on #66
I'll update after I debugged that :)

[2017-03-10 16:07] eikehein commented on #66
I'll update after I debugged that :)

[2017-03-10 16:15] eikehein commented on #66
This was broken by 39e13de3468add20f37eb0f8814dd6996384d23f in systemsettings.git by a commit by mgraesslin.

System Settings installs two .desktop files:
- systemsettings.desktop with name System Settings shown in KDE
- kdesystemsettings.desktop with name "KDE System Settings" and NotShowIn=KDE

39e13de3 makes System Settings set its .desktop file to "kdesystemsettings". This .desktop file is put

[2017-03-10 16:19] eikehein commented on #66
I wrote a mail to mgraesslin now, this will probably take a while (and thus until post-vacation) to sort out given the number of stakeholders involved. The two .desktop files thing is because of a name clash with Gnome btw.

[2017-03-10 16:25] eikehein commented on #66
Another problem with doing (3) is that it would mean I/O in a hotpath (opening and parsing the .desktop file from the window hint to figure out if it's NotShowIn=KDE) which would be really bad for performance ... I really want System Settings fixed instead ideally.

[2017-03-10 16:29] eikehein commented on #66
Thinking about it, IMHO the change in System Settings is _clearly_ 100% wrong: StartupInfo::applicationId is set from the .desktop file an app is started from, and systemsettings.desktop is the .desktop file that System Settings exposes to our menus. If it's then setting a different .desktop file for its windows, not being able to match it is correct libtm behavior. This really needs to be fixed i

[2017-03-10 16:40] eikehein commented on #66
Patch https://phabricator.kde.org/D5006

[2017-03-17 10:46] notmart commented on #64
investigation continues:
in
void AbstractClient::addRepaintDuringGeometryUpdates()

the first time a window moves, that's when the bug occurs, i get a smaller geometry.
that's a debug of the values m_visibleRectBeforeGeometryUpdate and deco_rect
QRect(274,423 1062x552) QRect(256,410 1092x582)
QRect(256,410 1092x582) QRect(255,410 1092x582)
QRect(255,410 1092x582) QRect(251,409 1092x582)
QRect(251,

[2017-03-17 11:41] notmart commented on #64
this https://phabricator.kde.org/D5078 seems to reliably fix the issue for me, at least the leftover shadow at first move, which with kwinrc from maui (https://github.com/maui-common/maui-settings-theming/blob/master/usr/share/default-settings/plasma5-profile/kwinrc) is easily reproduced.

[2017-03-17 16:48] notmart commented on #64
pushed it, so still needs testing on maui.
it's on master, so should reach devel unstable shortly

[2017-03-18 18:54] star-buck opened #68 "wallpaper dialog: scrolling down one inch via mousewheel jumps all the way up instead of further scrolling down"
https://www.dropbox.com/s/vhjicllmidte6rv/wallpaper-mousescroll-jumps%20back%20to%20top.mkv?dl=0

mousewheel UP scrolling goes smoothly up though, just if you are already down in the list due to the selected wallpaper, scrolling further down via mousewheel makes the list glitch to the top.

[2017-03-18 19:02] star-buck opened #69 "Mpris2 mediaplayercontrols interfere with last position of played media, e.g. vlc or smplayer"
this happens tested on netrunner, which has selected "play from start" option for vlc or smplayer, but both seem to ignore the setting and resume newly opened files from the last jump cut done.

Here is someone who found out it was related to mpris2:
https://bbs.archlinux.org/viewtopic.php?pid=1620185#p1620185

Some notes:
It is not solely audacious at fault here, the fault lies in anything that a

[2017-03-18 19:10] star-buck commented on #69
i could do a video later, but anyone could try the latest netrunner ISO
http://s3-eu-central-1.amazonaws.com/ds9-eu/dci/images/stretch/amd64/netrunner-desktop/netrunner-20170317.1657-amd64.hybrid.iso

Start a video with smplayer, then click anywhere on the timeline to jump to a certain spot (try 1:00 minute, so other videos dont hump right to the end when doing the next step).

This jumpcut seems

[2017-03-18 19:15] star-buck commented on #69
https://www.dropbox.com/s/hwhxx1wipqz5yj0/smplayer-mpris2-vokoscreen-2017-03-18_20-12-06.mkv?dl=0
okay, seems i could have done the video faster than explaining that stuff :/

[2017-03-20 18:07] notmart commented on #68
managed to reproduce, it seems to happen exactly the first time the view is scrolled after the window has been opened and exactly once, seems be an issue in the ScrollView component of QtQuickControls1, will see if it's an easy fix, otherwise will have to go for a different implementation, maybe qtquickcontrols2 based

[2017-03-20 21:06] davidedmundson commented on #69
You were spot on with your analysis and with which applet you removed in the video. The volume applet.

That volume control from https://github.com/Zren/plasma-applets has a media controller built in. Even though it's not enabled it still loads the media tracking code in the background. It has a somewhat complicated bug which makes it call SetPosition whenever a track changed.

I've made a patch:

[2017-03-20 22:12] star-buck commented on #69
Thanks for the applet fix, but isnt it still a more generic bug if a user
simply has mediacontroller enabled besides that volume applet?

E.g. doesnt that erronous behaviour still happen in kde neon, where
mediacontroller isnt hidden default like in netrunner?

[2017-03-20 22:21] davidedmundson commented on #69
The upstream KDE plasma media applet doesn't have this bug, it's only Zren's version that does. He copied some code and accidentally broke something when simplifying it.

[2017-03-20 22:34] star-buck commented on #69
That would be great, but are you sure about that?
I recall re-enabling mediacontrol in netrunner after removing the
volumeapplet and getting the same behaviour (50% certainty recalling this
right).

[2017-03-21 15:20] star-buck opened #70 "[systray]: doesnt rightclick nor leftclick interact with "ring""
Under netrunner, one can install these ring packages to test systray icon interaction:

http://dci.pangea.pub/job/1703_release_ds9-extras-packaging_ring_bin_amd64/lastSuccessfulBuild/artifact/result/ring_20170316.1.06a3f0b~dfsg1-1+9+build5_amd64.deb
http://dci.pangea.pub/job/1703_release_ds9-extras-packaging_ring_bin_amd64/lastSuccessfulBuild/artifact/result/ring-daemon_20170316.1.06a3f0b~dfsg1-1+

[2017-03-21 16:59] davidedmundson commented on #53
My above comments were slightly wrong, that clipboard manager spec was obsoleted by the new clipboard management in XFixes.

There was a bug in Qt there.

This fixes it:
http://code.qt.io/cgit/qt/qtbase.git/commit/?id=291eba6f8099a0fec8fbd9cf8a1fb67e5c9f4f8d

Which is in Qt 5.8, not 5.7.

Easiest thing from my POV would be for us to patch Qt with that commit.
However, now I know exactly what's up

[2017-03-21 18:17] notmart commented on #68
upstream bug: https://bugreports.qt.io/browse/QTBUG-59633
possible patch: https://codereview.qt-project.org/#/c/189158/

[2017-03-22 14:20] star-buck opened #71 "[dolphin]: view is not updated when dragndrop a folder from a zip from ark into home after its extraction without a refresh"

[2017-03-22 14:26] notmart commented on #71
what does happen exactly? the folder that has been dragged from the zip to the home does not appear in dolphin?

[2017-03-22 14:26] star-buck commented on #71
seems to work aka not reproduceable the second time, so will need to investigate more before knowing how to reliably get this behaviour...

[2017-03-22 14:27] star-buck commented on #71
@notmart : yes, it only showed up after a F5 refresh (even after an initial 1 minute wait or so after the info message said "finished")

[2017-03-22 16:21] davidedmundson commented on #70
Frustratingly the code has full AppIndicator support, which would not use xembed at all.
But then ring randomly disables it unless you're running Unity:

If you run "XDG_CURRENT_DESKTOP=Unity gnome-ring"  you'll get it communicating directly with a nicer icon and working right click and everything.

If you end up patching gnome-ring for any other reason or want a fast fix, remove:
    if (g_strcmp

[2017-03-22 16:41] notmart commented on #70
i get now a 404 error when trying to download the binaries, linking to the project on jenkins:
http://dci.pangea.pub/job/1703_release_ds9-extras-packaging_ring_bin_amd64/
so, both a fix on our side (problem is specifically on xembedsniproxy?) with the current client, and would also be nice to send a patch to them too, which i can try

[2017-03-22 17:12] star-buck commented on #70
@shadeslayer : any working links?

[2017-03-22 17:21] notmart commented on #70
i can access the new built packages from the link i gave

[2017-03-23 01:39] davidedmundson commented on #70
Bug is with GTK.someNewVersion and xembedsniproxy.

Xembedsniproxy fakes click events to the applet.

New GTK doesn't even register for mouse events. It did at the time of writing...

If you run xwininfo -events on the embedded window of xchat and one of a new GTK app, you'll see one registers for ButtonPressEvent the other doesn't. Naturally if the window doesn't even register for such an event,

[2017-03-23 11:20] notmart commented on #70
this is a patch for ring itself, let's see if they accept it
https://gerrit-ring.savoirfairelinux.com/#/c/6433/

[2017-03-23 15:08] notmart commented on #70
patch has been merged in the ring client

[2017-03-23 18:13] davidedmundson commented on #70
...and xembedsniproxy patched:
https://phabricator.kde.org/D5156

Writing legacy support shouldn't be against a moving target.

[2017-03-23 18:19] shadeslayer commented on #70
Presumably that ring patch will either land in tomorrow's or next week's release, so I can update that as required to fix the bug in Netrunner.

[2017-03-24 16:52] UralZima opened #72 "audio volume issues"
Hello. I have 2 issues with audio volume management.
1. I am using volume keys. All seems to work, but often when volume is set to maximum, all applications have lower volume, like 60%. I click to volume icon, applications tab and set slider to 100% manually for all apps. So in general it working well, but after some time (1-2h of volume changing) it stops moving application sliders, and volume is

[2017-03-24 16:56] UralZima commented on #63
Please help, plasma must work without any gpu acceleration. Thanks

[2017-03-24 17:01] UralZima opened #73 "Official bug tracker for Plasma 5.9"
Hello. Can this github repo be considered as official plasma 5.9 bug tracker? bugs.kde.org seems very outdated and unorganized, most of parts have 4.14 version, and plasma 5.4 is latest version available for reporting. It is also very hard to decide, which section to choose for reporting.

Please help me understand the official way for bug reporting in Plasma 5.

[2017-03-24 18:24] star-buck commented on #73
Hi Ural.

Sorry, but this is not an official bug tracker. This is like Suse keeping
track of issues related to Blue Systems products, e.g. Netrunner. Of course
it might likely overlap with most other Plasma installs, or might be
specific because of components or customizations done in those products.
So please add any bug you experience with your distro related fo plasma to
your distros tracking s

[2017-03-24 19:41] UralZima commented on #73
Thanks for clarifying things out.
It seems that bugs.kde.org was updated and contain latest versions, just some mess with selecting category.
I thought this was a bug tracker, because I read these two links https://github.com/blue-systems/plasma-5.4/issues/48  https://github.com/blue-systems/plasma-ideas/issues/35  and saw many people discussing it there, not on bugs.kde.org.

I think you need to

[2017-03-25 09:15] star-buck commented on #73
Added to readme, thanks for the tip!

[2017-03-25 09:15] #73 closed

[2017-03-25 16:41] #72 closed

[2017-03-25 16:44] star-buck opened #74 "TM: EITM does cut off text too soon in some open tasks, see screenshots"
Example tasks (its not related to specific apps, more randomly occuring or not):
![tm_20170324_183625](https://cloud.githubusercontent.com/assets/840070/24324220/950a915c-1182-11e7-953a-7fef001b1e98.png)
Settings:
![taskmanager-tasks-cut-too-early_20170324_170655](https://cloud.githubusercontent.com/assets/840070/24324217/859ee150-1182-11e7-9beb-6b3c53309db7.png)

ISO tested on:
http://s3-eu-centr

[2017-03-25 16:46] star-buck commented on #62
@aleixpol : is the last issue found by Jonathan solved?

[2017-03-25 16:48] star-buck commented on #60
@eikehein : please mark this and all other threads of yours that are actually solved with the Green label "ready for QA", thanks.

[2017-03-25 16:51] star-buck commented on #69
closing this for now.

[2017-03-25 16:51] #69 closed

[2017-03-25 16:53] star-buck commented on #61
@notmart : did it got accepted? what release would this be in?

[2017-03-25 16:55] star-buck opened #75 "simplemenu: meta-key opens menu, but does not close it when pressed again"
for testing this iso can be used:
http://s3-eu-central-1.amazonaws.com/ds9-eu/dci/images/stretch/amd64/netrunner-desktop/netrunner-20170324.1345-amd64.hybrid.iso

[2017-03-25 16:56] star-buck commented on #75
note: maybe it is possibly not the latest released version packaged as simplemenu doesnt come with plasma default

[2017-03-27 07:24] eikehein commented on #74
This is a known bug in the eliding in QML's Label component, we'll have to fix it upstream in Qt.

[2017-03-27 07:24] eikehein commented on #60
Added label

[2017-03-27 07:25] eikehein commented on #75
This was fixed for the Simple Menu 1.0.1 version which is on the store.

[2017-03-27 07:32] star-buck commented on #74
Does it happen in non-eitm as well?
I never noticed this as of now really.

[2017-03-27 07:39] eikehein commented on #74
Yep, it can happen on anything - basically in some cases you get unlucky and Label elides super early. I remember Kai hitting it and looking into it too, I'll ask him if he made any effort fixing it in Qt. It's just particularly noticable on TM when it happens (because there you want maximum text ...).

[2017-03-27 07:47] star-buck commented on #74
Did Qt change something or since when does this noticably happen? Any
official bug report link? Again, never noticed this happen before, not even
recall this on Netrunner 17.01 two months ago.
Since this is severly noticable on current 17.03 ISO i would need a fix,
patch, workaround to solve this before the release.

[2017-03-27 07:51] eikehein commented on #74
No, it's always happened in Qt 5 and I haven't noticed it getting particularly worse lately.

[2017-03-27 07:53] eikehein commented on #74
Same issue in Folder View:

2017-03-02.log:[16:51:09] <kbroulik> qml eliding y u so stupid :(
2017-03-02.log:[16:51:31] <kbroulik> just thought folderview label sizing in popup was broken, the label has the right size but qt is like, nah, let's just elide waaay too soon randomly

[2017-03-27 08:00] eikehein commented on #74
For FV we went with a workaround: https://phabricator.kde.org/D4899

However the TM QML already contains equivalent code to the result in FV, especially if Netrunner already uses the hidden config option to force a maximumLineCount of 1, so the same workaround is apparently not working there (or maybe it doesn't really work in FV either and Kai got lucky).

[2017-03-27 08:22] star-buck commented on #74
Has this been reported as bug in bugs.kde.org?
Any link?

[2017-03-27 08:23] eikehein commented on #74
Nope, it's never been reported by any user so far. Don't have any links sorry.

[2017-03-27 08:28] star-buck commented on #74
On Mar 27, 2017 10:00, "Eike Hein" <notifications@github.com> wrote:

if Netrunner already uses the hidden config option to force a
maximumLineCount of 1

It would be good if you download the Netrunner ISO and help check things
directly to see how it is actually configured or if there is something
wrong.

[2017-03-27 08:32] eikehein commented on #74
Yep, started ISO download immediately earlier already, but the wifi is a bit slow currently so it's about two hours away.

[2017-03-27 08:33] eikehein commented on #74
Talked to Kai btw, he didn't look at the upstream code and didn't look up a Qt bug tracker ticket for it either. I looked at the Qt tracker and haven't found anything nor any recent fix commits in qtdeclarative.

[2017-03-27 09:07] notmart commented on #61
it has got accepted and has been releases in frameworks 5.32, on 11th of march

[2017-03-27 12:09] eikehein commented on #74
Good news.

I looked at the ISO and played around with it after reproducing the problem, and it turns out that the Netrunner-specific config of one text line triggers the bug more easily, but I also found a workaround that addresses that specific situation by setting the wrap mode to NoWrap when maximumLineCount is 1.

Patch for plasma-desktop 5.9: https://commits.kde.org/plasma-desktop/f5f685ecdc

[2017-03-27 13:25] aleixpol commented on #62
Yes, it was fixed and even confirmed by a user.
https://bugs.kde.org/show_bug.cgi?id=376829

[2017-03-27 15:21] davidedmundson commented on #63
This is not the KDE bug tracker.
You want https://bugs.kde.org/enter_bug.cgi?product=plasmashell

[2017-03-27 15:21] #63 closed

[2017-03-29 12:43] star-buck commented on #74
fixed in netrunner

[2017-03-29 12:46] star-buck commented on #68
oddly on current netrunner ISO scrolling UP now doesnt even work anymore, simply nothing happens.
Scrolling down jumps all the way up as usual.
Maybe the "selected item" marker while visually looks correct still is still stuck on the first wallpaper internally?

[2017-03-29 12:46] #62 closed

[2017-03-29 12:47] star-buck commented on #44
which version would this be in?

[2017-03-29 12:48] #28 closed

[2017-03-29 12:54] #12 closed

[2017-03-29 12:55] #50 closed

[2017-03-29 12:56] #1 closed

[2017-03-29 12:56] #60 closed

[2017-03-29 13:01] star-buck commented on #165
https://www.youtube.com/watch?v=xVRjozj58Gw
recent video by some user who reported it also here:
https://bugs.kde.org/show_bug.cgi?id=348691#c15

[2017-03-30 07:30] star-buck commented on #71
i was able to record this on a freshly installed system:
https://www.dropbox.com/s/np6jruf9fgnfqxr/dolphin-refresh-2017-03-30_09-26-52.mkv?dl=0

[2017-03-30 11:17] davidedmundson commented on #71
I've also managed to (accidentally) see it on my system the other way round.
I had a folder, I did right click compress -> here as zip  nothing happened, I refreshed and my new zip file was there.

I'll work on this solidly for today and tomorrow, but the lack of perfect reproducibility really doesn't make things easy.

I think my best option is to make a list of the expected code path from the ke

[2017-03-30 11:54] star-buck commented on #71
Sounds at least like a plan!

Note that I recall its almost always happening when files get changed,
removed or added for folders mapped via sambamounter, even though this way
of adding them should be transparent compared to smb://?

[2017-03-30 16:08] star-buck opened #76 "[ksysguard]: scrolling down and selecting a process makes the list to jump back to the top and select an entry there relative to where the mouse cursor was positioned"
it needs to be the first click, as demonstrated here when first changing sort order it works fine, but second time trying to select an entry right away jumps back to the top:
https://www.dropbox.com/s/ou8oy7acehq5bzp/ksysguard-jump-to-top-2017-03-30_18-02-03.mkv?dl=0

[2017-03-30 17:41] notmart commented on #76
that behavior was the sideeffect of an old patch about keyboard navigation https://git.reviewboard.kde.org/r/112258/ where doing this reset to the top *may* make sense when triggered by keyboard navigation (tab), when clicking on the list with the mouse, resetting the view to 0 is always the wrong behavior.
I've removed the list reset logic, and the bug doesn't seem to happen anymore.
I've pushed

[2017-03-31 16:59] davidedmundson commented on #71
So far I don't have anything concrete, but want to write up some things I've investigated, in case Marco's interested.

The relevant code is far more complex than I would have imagined :/

Dolphin code is fine, the one time I managed to reproduce this with debug on, KCoreDirLister::itemsAdded wasn't called which means we need to look lower level.

I'll explain the relevant bits of code:
 - Dolphin

[2017-04-03 21:01] notmart commented on #68
https://codereview.qt-project.org/#/c/189158/ has been merged now: @apachelogger @shadeslayer could the patch be applied to qt in either neon or netrunner?

[2017-04-11 14:21] star-buck opened #77 "[colors kcm]: cant edit "Default" scheme, cant edit other themes without saving them afterwards, instead of it becoming the default/temporary used scheme if not saved"

[2017-04-11 14:24] star-buck opened #78 "[window decoration kcm]: no theme marked/selected"
![screenshot_20170411_161300](https://cloud.githubusercontent.com/assets/840070/24914017/3b2d5814-1ed3-11e7-93b6-cf41a50ce519.png)

[2017-04-11 14:32] star-buck opened #79 "[simplemenu]: using mousescrollwheel to go from Fav page to first page of apps sometimes skips to last page instead"
tested with latest RC based on arch with released packages like Plasma 5.9.4:
http://arch.netrunner.com/ISO/netrunner-rolling-2017.04-RC1-x86_64.iso

[2017-04-11 15:05] notmart commented on #77
https://phabricator.kde.org/D5399 adresses some of the issues, ie allows to save and overwrite system wide themes.
as a separate one, will try to do a minor redesign of the meaning of the "default" entry (that would become "current" i guess) that would adress the remaining issues

[2017-04-11 16:53] star-buck commented on #77
"Current" is better, or maybe even "Cached"

[2017-04-11 23:03] eikehein commented on #79
Do you know if this using Simple Menu 1.0.1 from the Store or still an old git-based package? Because as per meeting notes, I much improved the mouse wheel code to be less sensitive fairly recently.

I'll check the ISO later.

[2017-04-11 23:12] davidedmundson commented on #78
Fixed.
Will update when merged.

[2017-04-12 06:36] star-buck commented on #78
Thanks.
Can you also check why the sorting is different, e.g. Breeze no longer is
listed before Oygen.

[2017-04-12 06:39] star-buck commented on #79
Will check what arch/aur ships on this iso.

On Apr 12, 2017 1:04 AM, "Eike Hein" <notifications@github.com> wrote:

[2017-04-12 11:02] davidedmundson commented on #78
Done

[2017-04-12 12:00] eikehein commented on #79
I checked out the ISO and it seems to have the 1.0 code - not the latest, but it does have my updated mouse wheel code (the same as used in Task Manager). So I guess it might need further improvement ... the problem now is that I don't actually have a mouse wheel and just a trackpad, but will see what I can do.

[2017-04-12 12:06] eikehein commented on #79
I can soooort of see some wonkyness sometimes, hunting it now ...

[2017-04-12 12:11] notmart commented on #77
https://phabricator.kde.org/D5411 restores the concept of "current" entry, i think it can supersede D5399

[2017-04-12 14:52] star-buck commented on #79
thanks, thats appreciated as simplemenu is our new default in netrunner.

[2017-04-12 16:48] star-buck commented on #78
which release?

[2017-04-12 16:49] star-buck commented on #64
which release should this be in?

[2017-04-13 09:27] star-buck commented on #74
@eikehein : Plasma 5.9.4 didnt carry it? (in netrunner rolling it still seems to cut text short...)

[2017-04-13 09:32] star-buck opened #80 "fix bug that is supposed to crash Aurorae (to recommend window deco theming via GHNS again)"
https://www.reddit.com/r/kde/comments/64v8rr/using_a_fresh_install_of_kubuntu_and_kwin_is/dg667ep/

[2017-04-13 10:01] hsitter commented on #68
https://packaging.neon.kde.org/qt/qtquickcontrols.git/commit/?h=Neon/release&id=21e789e39263ce1e6f27fbde55b08ce7b0308044

[2017-04-13 10:22] notmart commented on #68
for widespread release, it should be in Qt 5.9 that will happen on 31st of may

[2017-04-13 10:26] star-buck opened #81 "[focus indication]: appears in tabs, lists, checkboxes without any keyboard interaction, should not be visible default without keyboard interaction"
![selection-marker-shown](https://cloud.githubusercontent.com/assets/840070/25001155/5f932ae0-2044-11e7-950c-5a246d5ad4e1.png)

[2017-04-13 10:37] star-buck commented on #81
here is the setting shown to be off, still any focus indicator is visible (it was working, so no focus indicator at all was visible some Netrunner version before):
![screenshot_20170413_122941](https://cloud.githubusercontent.com/assets/840070/25001469/f41d2e8a-2045-11e7-88ce-9da4ee368fc2.png)

[2017-04-13 10:40] star-buck opened #82 "[left-clicks]: nothing happens in various cases"
when trying to click on "save"-button after a rectangular cut out screenshot:
https://www.dropbox.com/s/1rtq7jaqe7vbyk5/spectacle%20-%20click%20eaten.mkv?dl=0
looks like the button is not indicating it is in "hovered state" even while mouse is over the button

[2017-04-13 10:41] star-buck commented on #82
looks like the button is not indicating it is in "hovered state" even while mouse is over the button...

[2017-04-13 10:48] eikehein commented on #74
@star-buck 5.9.4 is too old, the patch is newer

[2017-04-13 10:50] star-buck opened #83 "[window deco kcm]: remove visible lines / artifact"
https://www.dropbox.com/s/n0eiwf4oa9o1ara/window%20deco%20kcm%20-%20visual%20artifacts%20when%20resizing.mkv?dl=0

[2017-04-13 10:53] star-buck commented on #52
seems fixed, tested with Plasma 5.9.4

[2017-04-13 10:53] #52 closed

[2017-04-13 10:57] davidedmundson commented on #78
Plasma 5.9.5

[2017-04-13 11:12] star-buck commented on #71
another instance showing dolphin not updating the view (really showing the two other issues besides the screenshot taken not appearing in this little snippet, that is the focus indicator and the left-click eaten while saving the screenshot):
https://www.dropbox.com/s/jxea09hs9bz5u0n/focus%20indicator%20-dolphin%20refresh-click%20eaten.mp4?dl=0

[2017-04-13 11:12] eikehein commented on #82
In case it helps David: I can't reproduce this on my system (KDE git, Qt 5.9 branch).

[2017-04-13 11:13] eikehein commented on #81
In case it helps Marco: I can't reproduce this on my system (KDE git, Qt 5.9 branch).

[2017-04-13 11:15] star-buck commented on #74
So 5.9.5 or when?

[2017-04-13 11:17] eikehein commented on #74
Yep, according to https://community.kde.org/Schedules/Plasma_5 there's a 5.9.5 release scheduled for April 25th that it will be included in.

[2017-04-13 11:21] eikehein commented on #81
To clarify, on my system, the option correctly disables the focus indicator in *lists* as the option text indicates. It doesn't disable the focus indicator under e.g. checkbox labels, that's also not what the option promises.

The focus indicator is required to know which control currently has focus e.g. when using keyboard navigation. In lists it can be redundant with the selection marker (that's

[2017-04-13 11:32] notmart commented on #68
rlease schedule https://wiki.qt.io/Qt_5.9_Release

[2017-04-13 11:34] notmart commented on #64
5.9.5: 25th april
 and 5.10.0 30 may
https://community.kde.org/Schedules/Plasma_5

[2017-04-13 11:36] notmart commented on #76
will be released in:
5.9.5: 25th april
and 5.10.0 30 may
https://community.kde.org/Schedules/Plasma_5

[2017-04-13 11:38] notmart commented on #81
so, the option for lists should disable focus indicators everywhere, or a new option should be introduced instead?

[2017-04-13 11:40] eikehein commented on #81
It would have to be a new option. As mentioned disabling focus indicators everywhere breaks keyboard navigation support. Changing the behavior would break systems where this option is enabled.

[2017-04-13 11:50] star-buck commented on #81
A) It worked like that before, disabling it everywhere.

B) if now it doesnt i request an option again so it does

C) even gnome has no more indicators, so its a valid usecase and request.

[2017-04-13 11:51] star-buck commented on #81
D) i recall for checkboxes to have the colorindicator to show which option
is highlighted, so this would be redundant if still working.

[2017-04-13 12:01] eikehein commented on #81
There are different ways to communicate "this control is focused right now". Colorizing controls is an option. Breeze currently choses this underlining design. I don't know if this changed at any point or not, but it's the current situation. I also don't know if this option ever disabled focus indicators everywhere (if it did, with the same option text, it would have been a pretty big bug). Making

[2017-04-13 12:06] eikehein commented on #81
Because "even gnome has no more indicators, so its a valid usecase and request" struck me as unlikely, here's a screenshot of a dialog using the default GTK+ 3 theme:

![screenshot_20170413_210359](https://cloud.githubusercontent.com/assets/2744902/25003986/fbe7e4ce-208c-11e7-97f6-d58fa6a75bdb.png)

As you can see at the "Poll Disk I/O" checkbox it does have a focus indicator. IMHO it's a lot ugli

[2017-04-13 12:19] eikehein commented on #81
Here's the focus indicator design in the very latest version of vanilla Gnome 3, from Fedora 26 Alpha, in a dialog from Gnome system settings:

![screenshot_20170413_211734](https://cloud.githubusercontent.com/assets/2744902/25004296/a6ab6236-208e-11e7-9962-caceba560028.png)

(Last checkbox.)

I find Breeze's underline design more modern and less Win95 than GTK+'s marching ants personally.

[2017-04-13 12:22] eikehein commented on #81
Focus indicator in single selection list:

![screenshot_20170413_212109](https://cloud.githubusercontent.com/assets/2744902/25004387/1fd522d2-208f-11e7-8b30-d81699f0f267.png)

[2017-04-13 12:46] eikehein commented on #81
Further discussion:

[21:37] ‎<‎Sho_‎>‎ can you give me an example of one of our uis where the focus indicator line shows up for tabs?
‎[21:37] ‎<‎Sho_‎>‎ i can't find one quickly so i'm curious about when it happens
‎[21:38] ‎<‎Sho_‎>‎ shpws up on click i mean
‎[21:38] ‎<‎Sho_‎>‎ so for example in the
‎[21:38] ‎<‎Sho_‎>‎ "Configure Breeze" dialog
‎[21:38] ‎<‎Sho_‎>‎ the behavior i see is this
‎[2

[2017-04-13 14:08] star-buck opened #84 "taskbar: some programs (like gnome maps) show two consecutive "tasks" (one launcher feedback and later one real task) when starting"
ideally, opening an app should not yield 2 consecutive, visually perceived "tasks", so maybe its due to maps showing the right symbol while loading, but then a second task appears again for the final app, which has the broken logo:
https://www.dropbox.com/s/ycsgc8nwm2bjksv/gnome-maps.mkv?dl=0

![gnome-maps-missing-icon](https://cloud.githubusercontent.com/assets/840070/25008239/6fa11cc0-2063-11e7-

[2017-04-13 15:19] star-buck commented on #84
maybe its due to it showing the right symbol while loading, but then a second task appears again for the final app, which has the broken logo. ideally, opening an app should not yield 2 tasks, as its confusing and settle on the first one, which have already the correct logo.

[2017-04-13 15:22] star-buck commented on #84
capture:
https://www.dropbox.com/s/ycsgc8nwm2bjksv/gnome-maps.mkv?dl=0

[2017-04-13 15:32] star-buck commented on #84
some more apps tested:
- frozen bubble also opens a second "task" called "frozen bubble 2" with missing icon
- tron opens one task and icon just fine
- lollipop opens in one swift task with icon
- gnome software opens two tasks, but at least has icon
https://www.dropbox.com/s/y2ev14ntj8m0nqd/tm-various.mkv?dl=0

[2017-04-13 15:41] star-buck commented on #84
some more examination:
pinning Frozen Bubble with broken icon does pin the broken icon, but cannot start the program afterwards.
Adding a pinned icon from menu works with pengiun icon and starts, but still revokes the broken icon.

[2017-04-13 15:42] notmart commented on #81
review that disables focus on mouse click on most elements https://phabricator.kde.org/D5429
like gtk, focus decoration would still be there when the widget is selected by keyboard navigation

[2017-04-13 15:42] star-buck commented on #82
seems general eaten left-clicks, as it happens elsewhere:
https://www.dropbox.com/s/oqxce2koemfxiyc/left-click.mkv?dl=0
note that i have one task aka the dolphin window open.

[2017-04-13 15:43] star-buck commented on #82
note that i have one task aka dolphin window open!

[2017-04-13 15:48] notmart commented on #44
will be in Plasma 5.10, out on 30th of May

[2017-04-13 15:50] star-buck commented on #84
PS. frozen bubble seems to really change its window name to Frozen Bubble 2!

[2017-04-13 15:50] notmart commented on #58
should be in applications 17.04 release out on April 20th https://community.kde.org/Schedules/Applications/17.04_Release_Schedule

[2017-04-13 17:14] star-buck opened #85 "[folderview]: mouse hover: icons sometimes hovered, sometimes not"
Plasma 5.4.9:
https://www.dropbox.com/s/2ae7tpljl7tn4mk/folderview-hover-sometimes.mkv?dl=0

Maybe it is due to the weird textline break?

[2017-04-13 17:32] star-buck opened #86 "selected wallpaper no longer stays "selected" after "apply button""
not sure if this go fixed with the other issues related to the wallpaper dialog, so i list this here for completeness:
https://www.dropbox.com/s/ldthhrwg29wbi41/wallpaper-apply.mkv?dl=0

(maybe its a good reason to remove the Apply logic for wallpapers in this case, so any clicked wallpaper simply stays selected like XFCE:
https://www.youtube.com/watch?v=hGY-80Zf5eg&feature=youtu.be&t=625
)

[2017-04-13 17:55] star-buck commented on #82
this one i noticed while changing wallpapers, but it took over 30 seconds to capture it again while recording, so i tried to make sure no dropdown actually stayed open by clicking on the canvas once each before going to TM and trying to bring up the other window, which fails after the sequence around 30 seconds:
https://www.dropbox.com/s/ssonze8151ont3v/left-click2.mkv?dl=0

maybe those are all re

[2017-04-13 21:14] eikehein commented on #85
It's due to the weird text line break.

I did a selective backport of some improvements in 5.10 to the 5.9 branch that fix this:

https://commits.kde.org/plasma-desktop/59528fdc731afe5603bbca9f11c021b6d3415945

This will be in 5.9.5.

[2017-04-13 21:26] eikehein commented on #86
Patch under review: https://phabricator.kde.org/D5440

[2017-04-13 21:41] eikehein commented on #84
To clear up the confusion: There is never actually two tasks.

What happens is this:
1. App is launched from a launcher, this generates a startup notification based on menu data, the Task Manager shows a startup notification
2. App opens a window, this shows on the Task Manager

Now, when the Task Manager is able to figure out that the startup notification and the window belong to the same app, it

[2017-04-13 21:50] eikehein commented on #84
I had a very quick look at Gnome Maps, and here's what I found.

The desktop file name: /usr/share/applications/org.gnome.Maps.desktop

There's no StartupWMClass value in the .desktop file.

The WM_CLASS on the window: WM_CLASS(STRING) = "gnome-maps", "Gnome-maps"

This is wrong - the second component WM_CLASS is supposed to be the menu id (we could understand both org.gnome.Maps(.desktop) and Map

[2017-04-13 21:56] eikehein commented on #84
Small addition:

Note it's possible to fix this by adding:

to /usr/share/applications/org.gnome.Maps.desktop

This will (or should) even work live at runtime without a Plasma restart.

StartupWMClass is a freedesktop.org standard field.

[2017-04-13 22:05] eikehein commented on #84
Filed a bug at Gnome: https://bugzilla.gnome.org/show_bug.cgi?id=781293

Should be interesting.

And now I'm really, actually putting the laptop away ;)

[2017-04-14 08:29] davidedmundson commented on #80
The commonly re-occuring one that MG is referring to is already fixed.

Fix is in Qt 5.7.1 or higher by a Qt dev (http://code.qt.io/cgit/qt/qtdeclarative.git/commit/?id=4d375f3f2b95bfcb322402df3525db6cc7a723ce)

Neon has that.
Kubuntu 16.10 (which I guess is what the Reddit poster is using) does not.

[2017-04-14 08:39] star-buck opened #87 "[folderview]: hover marker flips to first icon after d'n'd any other icon"
first try:
https://www.dropbox.com/s/ieyk0jhkswmlbro/folderview-hovered-switch.mkv?dl=0

dragged other icons too to make sure its not due to the symlink:
https://www.dropbox.com/s/l31z5so8rz7yhn3/folderview-hover-selected-switch.mkv?dl=0

[2017-04-14 09:13] star-buck commented on #80
Great to hear!

Btw. Is Aurorae supposed to/already work with Wayland?

[2017-04-14 09:30] davidedmundson commented on #80
Yes they work on Wayland.

[2017-04-14 11:28] star-buck commented on #82
another one:
https://www.dropbox.com/s/pvy4wzoticjzlrh/left-click-3.mkv?dl=0

[2017-04-14 11:29] star-buck opened #88 "grouping plasmoid: cant click anything inside, e.g. folderview icons"

[2017-04-14 11:31] star-buck commented on #80
okay, closing this then.
will probably shot then some videos where aurorae appears still lagging/weird when opening/closing windows next.

[2017-04-14 11:31] #80 closed, assigned to davidedmundson, notmart

[2017-04-14 11:36] davidedmundson commented on #88
It seems to be a folderview specific issue,  if I drag a calculator in there it works.

Will investigate and fix.

[2017-04-14 11:38] star-buck commented on #88
thanks for the info.

[2017-04-14 11:42] star-buck commented on #53
@davidedmundson :
so in Qt5.8.x its fixed? will label this green then here?

[2017-04-14 11:59] star-buck opened #89 "[grouping plasmoid]: allow edit the containing plasmoid when right-click on tab-title"
currently only shows this when right-clicking, no matter what is loaded inside the tab:
![grouping-plasmoid](https://cloud.githubusercontent.com/assets/840070/25042743/9bf0faf4-211a-11e7-8ec7-3c38ca0b1990.png)

[2017-04-14 12:02] davidedmundson commented on #53
Yep, fixed in Qt5.8.

I did look at trying to fix it into klipper earlier but it wasn't very feasible, it would have involved forking half of Qt's clipboard handling.

[2017-04-14 14:57] star-buck commented on #85
Great, now does it actually fix the hover or the weird line break (or both)?

[2017-04-14 14:59] star-buck commented on #70
@davidedmundson : what version would your fix be released with?

[2017-04-14 15:00] star-buck commented on #53
confirmed to seem working now.

[2017-04-14 15:00] #53 closed

[2017-04-14 15:28] star-buck commented on #84
Thanks for the explanation!

(For simplicity of not mixing two issues, I'll seperate the Frozen Bubble from this, and continue with the two "tasks" visible issue):

I checked with various DEs, so Cinnamon shows only one task (even with the correct Pengiun icon as logo), but then they only have a launcher feedback when clicking on their icon without expanding a real task first, so thats kinda "chea

[2017-04-14 15:39] star-buck opened #90 "Frozen Bubble: program starts with broken "X"-icon in taskbar and when pinned, doesnt start from the pinned icon"
i know its really silly, but i'd just like to understand whats the cause for this particular program and if i could fix this via desktop file or other method in netrunner, which ships it default.

[2017-04-14 15:46] star-buck commented on #84
Now that's interesting: Do you have a link to the heuristics where all the (broken) apps are added/handled?

[2017-04-14 16:21] eikehein commented on #87
This is fixed in 5.10 but really difficult to backport due to the heavy surrounding code changes (there is a loooot of polish and performance work in FV 5.10, it was a major focus, me and Kai went to town on it).

[2017-04-14 16:27] eikehein commented on #85
From my testing it fixed both. As you suspected the hover problem was related to the line break.

I'll add though that the full 5.10 hover/selection etc. code does behave even nicer. We did a lot of tweaks for more natural feeling. Also moving icons by DND feels much more natural now because of smarter calculation of insert position.

Basically after we decided to make FV default in 5.10 (and even

[2017-04-14 16:34] eikehein commented on #84
Yep. Most of the code is here:

https://cgit.kde.org/plasma-workspace.git/tree/libtaskmanager/xwindowtasksmodel.cpp

Most notably in the windowUrl method and related methods like servicesFromPid (this is for example a fallback for when windows have no metadata, then we even try to get the command line they were launched with from /proc, to look up the binary name in the .desktop file db).

We also

[2017-04-14 16:36] eikehein commented on #84
^ I'll experiment with this change next week :)

[2017-04-14 16:54] star-buck commented on #84
That would be really awesome if working.

[2017-04-14 16:55] star-buck commented on #85
Now I'm excited ;)

[2017-04-14 17:16] star-buck opened #91 "[GHNS]: Zips do not unpack normally, therefore fail to install"
Latest example:
https://store.kde.org/p/1002412/

This iconset can be found by searching for "Plataro" in GHNS iconset kcm.
It links to github master.zip release file, which gets downloaded correctly and stored in "/tmp", but then fails to unzip and install.
Using ark, one can open and extract the zip just fine though.
A fix would be really welcome to not dissapoint users and creators.

[2017-04-18 08:43] notmart commented on #86
has been pushed, so will ship in Plasma 5.10 on 30th of may https://community.kde.org/Schedules/Plasma_5

[2017-04-18 08:50] eikehein commented on #84
Meanwhile gnome.org wrote a patch for Gnome Maps: https://bugzilla.gnome.org/show_bug.cgi?id=781293

[2017-04-18 08:53] eikehein commented on #86
I pushed to the 5.9 branch, so it will actually be in 5.9.5 on Apr 25th

[2017-04-18 17:12] notmart commented on #8
after months of back and forth with Qt people, finally got the patch merged https://codereview.qt-project.org/#/c/185946/
unfortunately they accepted it to be merged only in "dev" that means it will be only in Qt 5.10 (planned in november, so far)
but since the patch is safe to merge in Qt 5.7 5.8 and 5.9, it should probably be included in our stuff for netrunner/maui/neon (@apachelogger, @shadesl

[2017-04-18 17:15] notmart commented on #91
fixed in knewstuff (commit 925ec8a17f), that will be released with frameworks 5.34, on May 6th

[2017-04-18 17:20] star-buck commented on #8
There are two things:
Patching Qt is troublesome
Since Qt5.10 is quite far, relying on all kde distros to be fixed needs a
workaround.

For frameworks and plasma, its tolerable, but imo anything down the Qt
layer warrants workarounds if the bug is identified and publicize too far
away.

[2017-04-18 17:26] notmart commented on #8
since this is an issue deep in qt, there are no general workarounds.
one thing that could be done is to make it leass easy to trigger in the most visible cases, like putting the "panel options" submenu on top of the menu in the case of the panel being on the bottom, which could make sense in general

[2017-04-19 11:09] eikehein commented on #84
I implemented your (really good) suggestion for EITM mode, patches under review:

https://phabricator.kde.org/D5505
https://phabricator.kde.org/D5504

It ended up taking a small libtaskmanager patch after all, I realized it was the best way to go for performance and correctness reasons and can also be used to improve some other stuff in the applet.

[2017-04-19 11:10] hsitter commented on #8
not applying on 5.7
http://build.neon.kde.org/job/xenial_unstable_qt_qtbase_src/14/console

[2017-04-19 17:37] davidedmundson commented on #8
I've found what's wrong with all the ones that affected QtQuick.

I understand the original bug, and why the workaround we kept adding everywhere no longer works.

I can fix the workaround but I'd need to spend another day or three to come up with a good patch for Qt. Otherwise we'll just keep hitting this same issue in new places where it's not worked around and having it break again with every r

[2017-04-19 17:44] star-buck commented on #8
What package/version would the fixed workaround be officially shipped in?
(as waiting for official patched Qt or ship own repackaged patched Qt is not going to fly too well for most distros.)

[2017-04-19 17:46] star-buck commented on #8
corrected above comment: i see this is only about right-clicks, not left clicks, so I guess Qt5.9 was only meant to not affect those.

[2017-04-19 17:47] #70 closed

[2017-04-19 17:53] davidedmundson commented on #8
It's still sort of about left clicks. Though not necessarily all that you mentioned.

It silently messes up when a popup appears mid-click. This happens typically as the result of a right click. Could happen elsewhere.

That makes the next click (either left or right) go missing.

[2017-04-20 09:29] eikehein commented on #90
I'll have a look (goes google what Frozen Bubble is ...)

[2017-04-20 09:35] eikehein commented on #90
Root cause: The program has very broken window data:

WM_CLASS(STRING) = "perl", "perl"

The WM_CLASS is something that doesn't match either its .desktop file name, menu name or executable name.

Further, its command line also doesn't help, since it doesn't use "frozen-bubble" with a shebang, but wraps in /usr/bin/perl:

[eike@ehl1 ~/devel/src/kde/workspace/plasma-desktop/applets/taskmanager (mast

[2017-04-20 09:37] star-buck commented on #90
Since its quite popular and shipped default, that would be nice.

[2017-04-20 09:51] eikehein commented on #90
I'm actually going to write a libtaskmanager patch for this, I want to handle it in a more generic way rather than go app-specific (we always prefer this way).

[2017-04-20 10:33] eikehein commented on #90
Patch up for review:

https://phabricator.kde.org/D5522

This fixes Frozen Bubble and potentially other perl-SDL apps.

[2017-04-20 11:05] eikehein commented on #84
The two patches linked above are now merged and will be in Plasma 5.10.

I don't know if it's appropriate to set this ticket to "ready for QA" as it was about multiple things. Please decide :)

[2017-04-20 17:13] davidedmundson commented on #8
Updated twist:

I've spent the day trying to recreate a very simple test, ready to fix Qt and was failing. It always worked without stealing the clicks.

My test was failing to fail because Qt has tried to detect this issue above: They've got a bit of code that says "if you lose window focus, ungrab the item."

So why doesn't that work in these plasma cases:

Panelview starts with:
    setFlags(Qt

[2017-04-20 17:16] star-buck commented on #8
Nice progress plus always interesting to read about this stuff.

[2017-04-21 09:29] eikehein commented on #84
Tangentially related, I opened a new thread on the wine-devel mailing list to try and poke them into fixing the problems Plasma/Unity/Gnome/Cinnamon have with wine: https://www.winehq.org/pipermail/wine-devel/2017-April/117413.html

[2017-04-24 09:48] eikehein commented on #90
Merged: https://commits.kde.org/plasma-workspace/1c8a46791c4eda644920fd0b6abb6197aac423ce

This will be in Plasma 5.10, to be released May 30th

[2017-04-25 13:31] davidedmundson commented on #8
I've pushed the updated workaround.

You will need:
Plasma 5.9.6 AND plasma-framework 5.33

[2017-04-25 15:12] star-buck commented on #8
Plasma 5.9.6 is due when again?

[2017-04-25 15:16] davidedmundson commented on #8
Edit, turns out it's actually in Plasma 5.9.5. Jonathan must have got delayed tagging.

Release is today or so.

[2017-04-27 15:56] davidedmundson commented on #88
Fixed in frameworks 5.34

Turns out it was an underlying frameworks bug that potentially means we have fixes / can remove workarounds elsewhere.

[2017-04-28 08:57] notmart commented on #77
pushed, will be released together Plasma 5.10 on 30th of may

[2017-04-28 11:35] hsitter commented on #8
qt patch landing in neon user edition in an hour or so

[2017-04-28 11:39] davidedmundson commented on #8
which one?

We've got a few different issues all mashed up in here.

[2017-04-28 11:41] hsitter commented on #8
^^

@davidedmundson https://packaging.neon.kde.org/qt/qtbase.git/tree/debian/patches/0001-Reset-d-mouseDown-only-if-it-s-the-menu-being-hidden.patch?h=Neon/release

[2017-05-01 11:08] star-buck opened #92 "Menu Alternatives: side-text is squashed"
1920x1080 resolution and having a hard time to decide if the first shot is Simple or Dash if I cant read barely any text:
![screenshot_20170501_110516](https://cloud.githubusercontent.com/assets/840070/25578427/eb53de02-2e6e-11e7-8e9a-2a82de07d386.png)

[2017-05-01 11:11] star-buck commented on #92
I am having a hard time to think maybe what's shipped isnt supposed to look like this, so maybe something went broken on the Netrunner ISO...

[2017-05-01 14:14] notmart commented on #92
what plasma release is in the iso? that is a known old problem that is fixed in Plasma 5.9.5 that has been released on 25th of April

[2017-05-01 14:35] star-buck commented on #92
Okay, great to know its already solved (screenshot is still 5.9.4).
Still did anyone design the text to be like this on the side or what was
the idea there?

[2017-05-01 14:44] notmart commented on #92
yes, icons (at a smaller reasonable size) with text besides was the original design as that was how the widget explorer looked like back then. when the widget explorer look was changed, it was decided to keep this more "menu like", so coherent with kickoff/systray etc.
personally i think big icon with text underneath could visually work, but only with a single column, as opposed to two in the widg

[2017-05-01 21:16] star-buck commented on #92
Marco: Can you add a screenshot how it look in 5.9.5?

[2017-05-02 08:41] notmart commented on #92
![spectacle y19611](https://cloud.githubusercontent.com/assets/4526371/25610527/def10968-2f23-11e7-9f1f-30499fcfac27.png)

[2017-05-02 19:35] davidedmundson commented on #89
Added for Plasma 5.10

[2017-05-19 16:01] #92 closed, assigned to notmart, ohyran

[2017-05-19 16:06] star-buck commented on #81
@notmart : any update on this?
i started testing kde neon with 5.10 beta, and the underline basically appears now everywhere when clicked or sometimes even default.

[2017-05-19 16:11] star-buck commented on #78
5.10 beta:
first time opening this dialog, the Breeze theme is selected default.
But even without changing anything, upon leaving the kcm the "Apply" dialog popup comes up, so it thinks it is selected something new??
Does anyone test this or just assumes "things surely got fixed this time", since this dialog has been broken from the beginning until now...

[2017-05-19 16:14] star-buck commented on #44
5.10 beta done

[2017-05-19 16:14] #44 closed

[2017-05-19 16:23] #33 closed

[2017-05-19 16:26] star-buck commented on #77
kde neon 5.10:
pressing "Edit" button while on "Current" theme does nothing

[2017-05-19 16:29] star-buck commented on #86
neon 5.10 beta works

[2017-05-19 16:29] #86 closed, assigned to notmart

[2017-05-19 16:31] star-buck commented on #61
no icon in kde neon 5.10 beta

[2017-05-19 16:37] star-buck commented on #88
works

[2017-05-19 16:37] #88 closed, assigned to davidedmundson

[2017-05-19 16:39] star-buck commented on #89
works

[2017-05-19 16:39] #89 closed, assigned to davidedmundson

[2017-05-19 16:40] star-buck opened #93 "[web browser plasmoid]: cant change url"
kde neon 5.10 beta

[2017-05-21 08:09] star-buck commented on #81
kde neon 5.10 beta:
installer has items now underlined default without any keyboard or mouse interaction, which draws attention in the case below (but also likely default others) to the first available option.
This is not only distracting (since i do not need a visual clue where the keyboard focus is if i only used the mouse at this point), but also mislaeding as if to require attention as if need

[2017-05-21 08:11] star-buck commented on #79
@eikehein : any update on this?

[2017-05-21 08:17] star-buck opened #94 "[discover]: using "libinput", mousewheel scrolling is *very* slow"
tested in kde neon 5.10 beta

[2017-05-21 08:31] star-buck commented on #85
kde neon 5.10 beta, the hover seems fixed

[2017-05-21 08:31] #85 closed, assigned to nobody

[2017-05-21 08:33] star-buck opened #95 "[folderview]: icon sometimes is in a selected state, so that a left click on a free folderview space starts it instead of de-selecting it or right-click shows context-popup of icon instead of folderview context menu"
kde neon 5.10 beta:
https://www.dropbox.com/s/i1yu3ej2g2kqu62/folderview-2017-05-21_10-26-52.mkv?dl=0

[2017-05-21 08:39] star-buck commented on #95
the video shows how to get an icon in that mode, that is either by rubberband selection or sometimes by simply DND it and moving the mouse while releasing it so it stays selected.

Idea:
Previously in KDE4/Plasma versions (as in Windows), a DND icon (or multiple icons) stayed selected after DND to a new place.
But even if icon(s) were in selected mode, a right-click or left-click on the desktop re

[2017-05-21 08:47] star-buck commented on #91
kde neon 5.10 beta: works!

[2017-05-21 08:47] #91 closed, assigned to notmart

[2017-05-21 08:48] star-buck commented on #76
kde neon 5.10 beta: works.

[2017-05-21 08:48] #76 closed, assigned to notmart

[2017-05-21 08:52] star-buck commented on #75
works!

[2017-05-21 08:52] #75 closed, assigned to eikehein

[2017-05-21 08:55] star-buck commented on #10
just checked this on kde neon 5.10 beta and it works :)
(i assume it has been long fixed, just as it wasnt marked green QA I overlooked it so far)

[2017-05-21 08:55] #10 closed

[2017-05-21 08:55] star-buck commented on #74
kde neon 5.10 beta: works!

[2017-05-21 08:55] #74 closed, assigned to eikehein

[2017-05-21 08:57] star-buck commented on #56
@eikehein : so i guess this is already in some newer version by now?

[2017-05-21 08:58] #41 closed

[2017-05-21 09:01] #18 closed

[2017-05-21 09:03] #27 closed

[2017-05-21 09:05] star-buck commented on #42
@notmart : this seems still _somewhat_ an issue with kde neon 5.10 beta (see discover slow scroll) though e.g. scrolling in dash seems fine?!

[2017-05-21 16:14] eikehein commented on #79
Not yet, sorry. I determined at the sprint that it's probably due to libinput wheel acceleration code, as sometimes I get two mouse events from Qt. But nothing since then.

[2017-05-22 16:08] aleixpol commented on #94
Discover scrolling is done by Kirigami, @notmart might know how to fix it.

[2017-05-22 16:21] star-buck commented on #94
Makes sense.
Since everything else in kde neon 5.10 what was previously slow has been improved, I hope there is some way to fix this also in kirigmai + libinput.

[2017-05-22 20:00] eikehein commented on #95
Confirmed, it's a regression from a commit in April, looking into it

[2017-05-22 21:19] eikehein commented on #95
I'm not 100% confident as things got somewhat complicated due to a local screwup I had in kdeclarative (making me unsure if I could reproduce the problem, or if the problem I was seeing was due to my kdeclarative problem), but I think this should be addressed by these commits on the 5.10 branch now:

https://cgit.kde.org/plasma-desktop.git/commit/?h=Plasma/5.10&id=4768cd68b8b09d727fe476f2a18e0b006

[2017-05-22 21:39] star-buck commented on #95
Thanks for investigating the issue.

Now since Neon is
1. KDEs only official distro project at this point,
2. we decided to use and recommend it for others to test things and
3. Maui is based on the same neon releases,
we need to make sure things are fixed when Plasma 5.10 gets released
together with the Qt and Frameworks that are part of neon at the time of
this release.
If that requires the need

[2017-05-22 21:45] eikehein commented on #95
Well, we're tagging 5.10 on Thursday, so it comes down to whether Neon Git Unstable does a build + ISO run before then or not.

I mentioned to Riddell at the Plasma Monday meeting that I was looking into a FV bug report I'd like to address before the tagging and that I'd update him on the status of that before that. Currently my plan was to tell him tomorrow that I'm done and there's no tagging ho

[2017-05-23 13:12] notmart commented on #77
fixed it in 5.10 branch and master, should be ok for 5.10 release

[2017-05-23 14:43] notmart commented on #81
The maintainer didn't accept the patch, so the patch will need to be applied in netrunner, @shadeslayer told me it should be easy for how the infrastructure is now

[2017-05-23 14:51] shadeslayer commented on #81
Is there a possibility of getting it upstreamed at some point? Having to patch every future release feels like a huge burden.

[2017-05-23 15:39] star-buck commented on #81
@notmart : please add the breeze patch here:
https://github.com/ds9-extras/breeze-patches

@notmart : is this the link to the breeze git repo the patches have to be applied against?:
https://cgit.kde.org/breeze.git/

[2017-05-23 15:44] notmart commented on #94
this is how discover works here on latest neon unstable running on a laptop and a mouse with a traditional mouse wheel
https://www.youtube.com/watch?v=1s9hqM9equo

is itconsistent with your experience or is it slower for you?

[2017-05-23 15:50] star-buck commented on #81
moved ticket to netrunner-relevant tickets:
https://github.com/blue-systems/netrunner-ideas/issues/84

[2017-05-23 15:50] #81 closed, assigned to notmart

[2017-05-23 15:56] star-buck commented on #94
yes, it's like in that video.

[2017-05-23 16:08] eikehein commented on #95
I now installed Neon git-stable and updated which got me packages including the latest commits I made yesterday, and I can't reproduce the problem there. Hopefully we're good.

[2017-05-23 16:12] star-buck commented on #95
Cool!
Any way to test this over here with some neon-update?

[2017-05-23 16:16] eikehein commented on #95
If you're on the git-unstable branch (which has git builds from the 5.10 branch) apt-get update && apt-get upgrade should be enough, worked for me at least :).

[2017-05-24 08:35] notmart commented on #81
@star-buck yes, is https://cgit.kde.org/breeze.git/
I don't seem to have permissions to push on https://github.com/ds9-extras/breeze-patches should i do a pull request instead?

[2017-05-24 09:04] star-buck commented on #81
uups, you should have now (added your user to the repo there)

[2017-05-24 12:53] notmart commented on #94
ok, it's reproducible then, i'll make it faster, probably depending from contents height

[2017-05-24 15:15] notmart commented on #94
I tweaked it in kirigami master, launched a rebuild in neon as well. @aleixpol can you give it a bit more testing as well? if current version is good enough, we can then do a new kirigmai release

[2017-05-25 10:48] davidedmundson commented on #71
Some good news.

This has been found and fixed by David Faure and Elvis Angellico and a somewhat lucky bug report.

Due to a completely different frameworks change we would sometimes end up watching "." In Linux terms that's the "current directory" of the folder the app was started from. By default with klauncher that ends up being /home/myusername

As I noted out above (but failed to see where th

[2017-05-25 10:55] star-buck commented on #71
Awesome if really fixed now!

[2017-05-31 07:42] eikehein commented on #79
Hmm I bought a cheap PC mouse today to work on this more, but having trouble reproducing it again. The investigation continues ...

[2017-05-31 08:20] eikehein commented on #79
Even on Neon I currently can't reproduce ... it may be that it also depends on the mouse model and the one I bought doesn't trigger it. Not sure currently.

[2017-06-12 13:57] star-buck commented on #31
happens again, not in 9th position, but randomly (mostly 2nd position):
https://www.dropbox.com/s/x69173og2if2ou4/dash-recent.mkv?dl=0

[2017-06-16 05:34] ivan-cukic commented on #31
Does it move to the right position at some point?
Does it move to the right position if you restart plasma?
And does it happen only when you start multiple applications in short period of time, or it does not matter how much time passed between consecutive starts?

[2017-06-20 18:41] star-buck opened #96 "[dash] or other menus: remove the 1-2 seconds unresponsiveness/delay when opening dash menu and 3-4 seconds hover delay thats always when opening after login or later from time to time when not opened for a longer while"

[2017-06-20 18:44] eikehein commented on #96
It opens instantaneously for me, there's no delay. I'll check some other systems.

[2017-06-20 19:06] star-buck commented on #96
Or hovering categories.

[2017-06-20 19:06] star-buck commented on #96
Not opening, its about instantly hover items.

[2017-06-20 19:10] eikehein commented on #96
Is it any items or just the categories?

[2017-06-20 19:13] star-buck commented on #96
Items and categories.

[2017-06-20 19:14] eikehein commented on #96
I'll investigate some, but items definitely react immediately here (first open on a fresh plasmashell).

[2017-06-20 20:05] star-buck commented on #96
@eike: you know i really love the dash, but on a fresh install of Maui
based on latest kde neon on a modern computer BARE METAL it is not.
Will shot a video tomorrow.

[2017-06-20 20:20] eikehein commented on #96
I believe you, I'm just saying it's not normal, so we'll have to figure out what's going wrong there :). There's no design reason for it to wait for 3-4 seconds on anything (it doesn't really do anything /after/ opening).

[2017-10-03 09:06] star-buck opened #97 "[samba-mounter]: shows smb:// default, but when clicking on the folder to scan network gives error"
as seen here on the latest odroid C1 img:
![snap 2017-10-03 at 11 03 01](https://user-images.githubusercontent.com/840070/31117631-dab332ba-a82a-11e7-809c-7fc5e6ae0b80.png)

[2017-10-03 09:15] star-buck commented on #97
Dolphin: Network - SambaShares seems to have the same problem:
when entering smb:// in the adressbar, it adds a third "/" to it and fails.
when entering an ip like e.g. smb://1.2.3.4 it works in putting the added "/" at the end, so it reads:
smb://1.2.3.4/

[2017-10-03 10:13] star-buck opened #98 "Systems Settings: polish Scrollbar look"
here is what it looks like currently, not sure how to make it visually more pleasing:
![ss-selecteditem-scrollbar-border-overlay](https://user-images.githubusercontent.com/840070/31120329-522001a8-a834-11e7-84a2-e495f00cbff9.jpg)

[2017-10-04 14:42] davidedmundson commented on #97
Fixed.
https://phabricator.kde.org/D8141

Note: If you were getting this error, you /might/ now just get this one instead "Unable to find any workgroups in your local network. This might be caused by an enabled firewall."
But at least that will be a correct message and not involve incorrect redirecting.

[2017-10-04 14:48] shadeslayer commented on #97
Patch was pushed into DCI, will land in the next image

[2017-10-04 15:32] notmart commented on #98
an old version of that kirigami component had the blue zone which ended just before the scrollbar, but i was then told by the vdg that gave too much importance to the scrollbar and looked kinda "broken" especially when the highlighted entry is in a zone outside of the handle, as there would be a blue rectangle finishing, then white gap, then separator line.
but indeed it may look weird when the ha

[2017-10-04 16:09] notmart commented on #98
this is pretty much the idea, tough it may look like there is some kind of weird band aid on the right of the column, especially in the default appearance of breeze that has a more minimal scrollbar.
@ohyran : any opinion/ideas on this?
![spectacle tj2322](https://user-images.githubusercontent.com/4526371/31186374-be9ef992-a92e-11e7-85b8-05acd134b372.png)
![spectacle ad2322](https://user-images.gi

[2017-10-30 08:40] star-buck opened #160 "netrunner 17.10: list of things to look into"
ISO tested:
http://s3-eu-central-1.amazonaws.com/ds9-eu/dci/images/1710/amd64/netrunner-desktop/netrunner-20171027.1531-amd64.hybrid.iso

- USB LIVE mode - Starting times:
-- after plymouth 1:30 minute long hang until mouse cursor appears
-- almost 3:00 minutes from mouse cursor appears to show any plasma (possibly font caching issue)
-- menu: first ever time invoking dash takes 3-4 seconds before

[2017-10-30 09:43] llelectronics commented on #160
Regarding hang after plymouth. Removing virtualbox-guest-x11 removes the delay until the mouse cursor appears and autologin happens.

Edit: Fontcache generating eats up a lot of cpu (I see plasmashell, krunner, kwin_x11 eating up 100% CPU) delaying the start of the desktop.

[2017-10-30 12:03] notmart commented on #160
for who has the touchscreen problem, can try the attached file (renamed to mouseeventlistener.qml) and run it with qmlscene mouseeventlistener.txt in the terminal

then try to touch the white window that comes up and see if the terminal prints out something

[mouseeventlistener.qml.txt](https://github.com/blue-systems/netrunner-related/files/1427083/mouseeventlistener.qml.txt)

[2017-10-30 12:22] notmart commented on #160
regarding the touchscreen, maybe is driver related? i can't reproduce at all on this laptop with touchscreen here, both on the development system and on the netrunner image provided here: launching apps from dash works just fine

[2017-10-30 12:33] notmart commented on #160
update on the test to run: new qml file to try:
[mouseeventlistener.qml.txt](https://github.com/blue-systems/netrunner-related/files/1427172/mouseeventlistener.qml.txt)
to have qmlscene on netrunner, do apt install qmlscene beforehand.

[2017-12-10 16:42] #79 closed, assigned to eikehein

[2017-12-13 20:03] #90 closed, assigned to nobody

[2017-12-13 20:05] star-buck opened #99 "Panel: Custom Launcher icon rendered "frizzled out" (can confirm with netrunner logo svg, which was always fine before)"
https://www.reddit.com/r/kde/comments/7jduze/issue_with_app_launcher_icon/

[2017-12-13 20:05] star-buck commented on #83
still an issue, looks unprofessional

[2017-12-13 20:06] star-buck commented on #65
looks eeriely similar to the garbled stuff on the pinebook...

[2017-12-15 19:13] star-buck opened #100 "Wifi symbol: if not connected, looks like missing icon/empty spot in systray with breeze (improve visibility)"
https://bugs.kde.org/show_bug.cgi?id=384018 is the root bug

[2017-12-20 19:10] star-buck opened #101 "idea: make panel in some parts easier to customize (like right-click remove icons, launchers, and simple dragndrop to move stuff around)"
https://mauilinux.org/download/#comment-3665900106

[2017-12-23 01:01] star-buck opened #102 "switch shown/hidden symbol for password fields"
on e.g. android, something that looks crossed out indicates the state, e.g. wifi NOT active.
to be consistent, the crossed out eye should indicate password is hidden, open eye should indicate chars are visible.
I am always scared and confused to see the eye "open" aka im afraid to type password as expecting chars to be visible.
Also compare e.g. blind contests on 99designs use of the symbol to ind

[2017-12-23 17:47] star-buck opened #103 "Global Menu: Make FF / LO6 working"
It may or may not be our fault, but we still have to make it work somehow for Global Menu to be of any daily use.
Like Unity-Gnome needs to work with 99,9% of programs out there if they use a global menu default, we need to take it much more serious too and since work around any big shortcoming apps like firefox.

Assigning Kai Uwe since he does browser integration magic already.

[2017-12-23 21:35] star-buck opened #104 "Discover: add a small "x" in the right corner of search window after search has been started to stop search mode and clear the search field"
Thats useful in cases when one starts to search e.g. for "frog", then clicks on
Plasma Addons and then Aurorae Window Decorations and just wants to clean/break from the search mode.

the clear search-field aspect is easy and useful, the "exit search mode" part could need some extra finetune from VDG.

[2017-12-24 04:16] star-buck opened #105 "GHNS: Installing something does not change the button to "Uninstall""
not sure if the fault is on the store or plasma side.

[2017-12-24 23:23] star-buck opened #106 "Web Browser Widget: cannot scroll webpage down via mousewheel, cannot edit URL unless first "pasting" something into URLbar"

[2017-12-24 23:30] star-buck opened #107 "Grouping Plasmoid: Settings: Brings up Wallpaper Dialog kcm, shows also "Mouse actions", but cannot be accessed?"
![screenshot_20171224_152941](https://user-images.githubusercontent.com/840070/34329712-4d64c344-e8bf-11e7-9656-8a6f022023a0.png)

[2017-12-25 19:48] star-buck opened #108 "Discover: load 20+ items, sort them by latest, then "load 20 more" when scrolling to the end of the list"
right now when clicking on Application Addons or Plasma Addons, it loads everything in a superlong list, which makes Discover freeze on a slower or less-powered machine.

Therefore load the latest 20 or 30 or 50 items, then load 20 more when scrolling to the end of the list.

[2017-12-25 19:52] star-buck opened #109 "Discover: as all kirigami apps should do, allow grab'n'swipe of the content area (either via finger or mouse)"
compare how in "dash menu - all applications" the area can be grabbed and swiped upwards or downwards

btw. that was working fine in previous Discover before.

[2017-12-25 21:48] star-buck opened #110 "Discover: Categories are double, one time spelled with "and" and one time with "&""
example:
![screenshot_20171225_134616](https://user-images.githubusercontent.com/840070/34343148-2b17265e-e97a-11e7-8ba3-3bf9629950d4.png)

this is tested on latest Rolling version, Plasma 5.11.4

[2017-12-25 23:04] star-buck commented on #102
we are inconsistent by our own standards, compare dolphin which has the symbol switched to indicate the state:
![screenshot_20171225_150257](https://user-images.githubusercontent.com/840070/34343478-ca51f334-e984-11e7-9e45-f057303fd6dc.png)
![screenshot_20171225_150321](https://user-images.githubusercontent.com/840070/34343479-cdc01690-e984-11e7-8728-2dac1e258c18.png)

[2017-12-25 23:07] star-buck opened #111 "folderview: dragging and dropping an icon makes the first icon on the grid hover-selected"

[2017-12-25 23:13] star-buck opened #112 "folderview: reduce horizontal space between icons"
compared to 5.11.4 the icon grid in neon dev unstable looks like it has expanded horizontal space.

Imo the 5.11.4 space looks great, maybe it simply hasn't been set in git unstable 5.12 aka regressed?

Otherwise also drag and dropping worked fine placing it underneath another icon, which on neon-unstable pinebook has regressed too.

Tldr; suggesting to restore the grid size / spacing and dnd of 5

[2017-12-26 13:19] notmart commented on #109
There are several implementations of scrollviews, that is because QtQuickControls2 used to not have one, now QtQuickControls2 recently got one, which will eventually become the only implementation as upstream Qt, and kirigami has one which is used in few places (as we can't yet depend from that Qt version)
Now, i changed the one internal in Kirigami to try to at the same time keep the flicking ena

[2017-12-26 16:37] star-buck commented on #109
For kirigami, we may like to identify the parts of where a scrollview is
used and it makes sense to always have the flicking possibility for those
parts even with a present mouse, as screens and laptops become increasingly
"mixed mode" touchfriendly while having an additional mouse or touchpad
present, since doing things directly on screen is more convenient.

On Dec 26, 2017 05:19, "Marco Martin"

[2017-12-27 12:52] aleixpol commented on #105
https://commits.kde.org/discover/09654c6a94820eb32632a7eb73fa243f01e9d56a

[2017-12-27 13:31] aleixpol commented on #110
https://commits.kde.org/discover/db212c8efdf23e4b4475e0f320eab0522ee81dae

[2017-12-27 14:18] aleixpol commented on #104
https://commits.kde.org/discover/dedc571166db34ab0f8e7faf59162c069e65310d

[2017-12-27 23:12] davidedmundson commented on #107
Fix in review.

(https://phabricator.kde.org/D9526  title says systray as that placed on the desktop is affected in the same way)

[2018-01-01 11:49] eikehein commented on #112
Unless I am forgetting something, I don't think we did any code changes since 5.11 that affect horizontal grid spacing.

That means I need to do some detective work first and find out what is going on, e.g. by comparing images. What distro are you comparing 5.11.4 and git unstable in, Netrunner vs. Neon? Is the theme the same? Which theme? Image links would be ideal and I'll investigate!

[2018-01-01 11:50] eikehein commented on #111
Yep I've seen this too recently. Will fix.

[2018-01-01 22:05] star-buck commented on #112
Netrunner Rolling compared to Neon Pinebook Remix.
I recall we talked about slightly reducing the Grid space at Paderborn, so I am not sue if that affected 5.11.90 on Neon or if its just the Breeze theme that makes it appear so.
I just noticed some things like the grid drod behaviour changed and it looked as if the grid size is different, but I could be wrong.
If nothing has changed, I guess just

[2018-01-02 09:01] notmart commented on #109
i've made it working with a mouse everywhere i could, so in the main areas of kirigami apps, it would have grab and flick working with a mouse everywhere.
Note that interaction of touch and drag will always work everywhere with a proper touchscreen, even with a mouse connected. on my laptop all scroll areas, even those coming from qtquickcontrols2 support it when i interact with them with the touc

[2018-01-02 10:31] kbroulik commented on #103
iirc Ubuntu ships a patch for Firefox to support Global Menu, on Neon I do get global menu in Firefox, albeit it's a bit wonky. (Unfortunately this is not something where p-b-i would help)

[2018-01-02 10:35] kbroulik commented on #48
What happens when the power button is pressed is up to PowerDevil (Power management settings). Here it is explicitly configured to "Show logout dialog". Granted, this could somehow be more automatic, but I wouldn't know a good/predictable behavior to implement here.

[2018-01-02 17:36] star-buck commented on #103
Is the patch for Firefox specifically to GM/Plasma?
Otherwise Global Menu should work with Firefox regardless under which
distro people use both.

On Jan 2, 2018 02:31, "kbroulik" <notifications@github.com> wrote:

[2018-01-02 17:54] kbroulik commented on #103
That patch is by Canonical for Unity and happens to work on Plasma (we use the same global menu spec). However it is not part of vanilla Firefox.

[2018-01-02 17:58] star-buck commented on #103
For Unity7 or also that Gnome-Unity?

[2018-01-02 18:10] kbroulik commented on #103
Unity 7, don't know about "Gnome-Unity", perhaps Firefox Quantum no longer has this capability, I need to check.

[2018-01-02 18:21] star-buck commented on #103
Please test that it works with FF Quantum on Netrunner on the Pinebook, as
we feature Global Menu in setups like LNF Cupertine and United.

[2018-01-02 19:18] kbroulik commented on #103
![screenshot_20180102_201744](https://user-images.githubusercontent.com/5594598/34496464-0003c900-effa-11e7-8734-fb1b6f2e8420.png)
Firefox Quantum 57 on KDE neon

[2018-01-02 19:22] star-buck commented on #103
Ah, ich meinte das bezogen auf das Plasmoid im Top Panel.
Dort funktionieren die Dropdowns unter Netrunner/Debian Testing naemlich
nicht.

On Jan 2, 2018 11:18, "kbroulik" <notifications@github.com> wrote:

[2018-01-02 19:28] kbroulik commented on #103
Ah, OK, yes there's something weird going on with the sub menus, will have a look

[2018-01-03 09:13] kbroulik commented on #103
https://phabricator.kde.org/D9631

[2018-01-06 01:43] eikehein commented on #111
This turned out to be a Qt bug/regression and pretty tricky. I'm still looking for a solution.

[2018-01-07 02:19] eikehein commented on #111
The Qt commit that breaks things is 8e0c446b28c661944a8c014145134d80e2282a51 in qtdeclarative from July. It fucks up an instance of setting QQuickWindowPrivate::lastMousePosition, setting it to a bogus scene pos instead of the window pos as before. This interacts badly with Shawn Rutledge's changes to synthesize a fake hover event once per frame (6f84a09dfbd15aac023580cf06e7b8c24f3b524c) since it

[2018-01-07 03:12] eikehein commented on #111
My previous detective work was not ambitious enough :(. It's wrong all the way up to QXcbWindow, where we get a xcb_ge_event_t / xcb_button_release_event_t with bogus local event coordinates that match item coordinates instead of window coordinates. I get the feeling this is somehow related to the drag cursor image, but I'm not sure yet.

[2018-01-07 03:20] eikehein commented on #111
Confirmed, it's related to the drag pixmap in some way. When I remove the QDrag::setPixmap and QDrag::setHotSpot calls in FolderModel I still get events with bogus local coords in QXcbWindow, but they become negative values. The reason the coordinates previously looked like item-local ones is because they were the drag hotspot coordinates - which match item-local cursor coordinates by definition.

[2018-01-07 03:37] eikehein commented on #111
Ok, I figured it out:

* On X11, the drag cursor pixmap is shown via an extra window, a QShapedPixmapWindow.
* During the drag, QBasicDrag installs an event filter on the QApplication instance and eats all mouse events delivered to the application.
* Once the drag ends it sends them out again via QCoreApplication::postEvent.

So this is what happens:
* The mouse release event actually happens on t

[2018-01-07 04:20] eikehein commented on #111
Qt patch attempt: https://codereview.qt-project.org/#/c/215939/

[2018-01-09 19:43] star-buck commented on #99
lets get this fixed.

[2018-01-09 19:49] #112 closed, assigned to eikehein

[2018-01-10 00:08] #109 closed, assigned to aleixpol, notmart

[2018-01-10 00:09] #110 closed, assigned to aleixpol, leinir

[2018-01-10 00:09] #104 closed, assigned to aleixpol

[2018-01-10 00:11] #93 closed, assigned to nobody

[2018-01-10 00:24] #61 closed

[2018-01-10 00:25] #56 closed

[2018-01-10 00:26] #22 closed

[2018-01-10 00:26] #21 closed

[2018-01-10 00:29] star-buck opened #113 "Dash Menu: Mouse cursor interferes using keyboard for navigation"
E.g. hover over an icon with the mouse and close dash via ESC key without clicking the icon.
Then opening menu again via "Menu/Meta/Super-Key" and try to keyboard navigate will not move the icon selector.

[2018-01-10 00:32] star-buck commented on #113
tested on Neon 5.11.90, Frameworks 5.42, Qt 5.9.3

[2018-01-10 01:20] #78 closed, assigned to davidedmundson

[2018-01-10 01:23] star-buck commented on #98
@notmart : any update for plasma 5.12?
Does the scrollbar disappearing when moving fast over it with the mouse cursor has been fixed?

[2018-01-10 01:24] star-buck commented on #83
2018 and still an issue:
https://www.dropbox.com/s/8lghoupownigk9m/window-deco-kcm.mkv?dl=0

[2018-01-10 02:27] davidedmundson commented on #83
I've finally found it! I'd looked last time it was reported, but with a clear mindset and the right debug tool it was obvious.

It's nothing to do with the KCM or any kind of QtQuick rendering, but just a really stupid bug in plastik.
Up for review now, will be merged soon \o/

[2018-01-10 04:35] eikehein commented on #99
This is caused by Kai's porting from the custom Image element to Icon after he added support for non-rectangular icons and custom paths. I'll have to get his input on it.

[2018-01-10 04:36] eikehein commented on #112
In Paderborn we talked about reducing the vertical grid space, which went into master last week to be released with 5.12 soon :). It's a small change though.

[2018-01-10 04:38] eikehein commented on #113
Confirmed, will work on fix.

[2018-01-10 05:09] star-buck commented on #112
Then I need to re-check, it looks like it either stayed the same or maybe
its due to resolution issues judging from pinebook neon default with its
reduced resolution vs. plasma 5.11.5 on the desktop at standard resolultion
1920x1080, but i need to recheck carefully

On Jan 9, 2018 20:36, "Eike Hein" <notifications@github.com> wrote:

[2018-01-10 06:45] star-buck opened #114 "Discover is improving! (no actual ticket but praise)"
The hard work is steadily paying off:
http://www.omgubuntu.co.uk/2018/01/kde-software-center-discover-improvements

@aleixpol : Thanks for your efforts to improve all my tedious sounding tickets!

[2018-01-10 09:19] kbroulik commented on #99
I enabled smooth scaling on the icon, this should help a bit. I cannot reproduce with any of the circular Breeze icons (high dpi problems..), so I asked the author for the original graphic for proper testing. I bet the lines aren't pixel-aligned.

[2018-01-10 10:37] kbroulik commented on #103
https://phabricator.kde.org/D9782

[2018-01-10 10:57] notmart commented on #98
the flicker in the scrollbar on mouseover has been fixed in frameworks so will be in the next (frameworks) release.
as for the look of the scrollbar itself, i'll try to come up with an agreement with the vdg and do something in the desktop breeze style itself

[2018-01-10 14:26] notmart commented on #98
phabricator patch on breeze to make scrollbar handles slimmer: https://phabricator.kde.org/D9792

[2018-01-10 14:55] aleixpol commented on #114
❤️ :)

[2018-01-10 14:55] #114 closed, assigned to aleixpol

[2018-01-11 13:14] eikehein commented on #113
Fix: https://phabricator.kde.org/D9817

Also makes Dashboard faster.

[2018-01-11 16:27] star-buck commented on #113
Sounds great :)

On Jan 11, 2018 05:14, "Eike Hein" <notifications@github.com> wrote:

[2018-01-13 00:39] #5 closed

[2018-01-13 01:45] star-buck opened #115 "file dialog: filenames a little weird cut"
First time opening of plasma filedialog has the filenames a little weird cut
![screenshot_20180112_174631](https://user-images.githubusercontent.com/840070/34901549-990e929c-f7c0-11e7-964e-26e01ba0507e.png)

[2018-01-13 01:49] #68 closed

[2018-01-13 12:07] kbroulik commented on #115
Could that have been this bug? https://bugs.kde.org/show_bug.cgi?id=352776
In that bug the labels are painted ontop of each other rathern than elided, might be same cause, though, and fixed.

[2018-01-15 09:27] kbroulik commented on #99
Should be fixed by
https://cgit.kde.org/plasma-framework.git/commit/?id=639e8684e3b39b43238e1812c1d7f430f86366e3
and
https://cgit.kde.org/plasma-desktop.git/commit/?id=ae219e8941cbef4e4a9da7073994d4874a788424

[2018-01-15 09:28] eikehein commented on #99
Thanks Kai!

[2018-01-17 10:18] kbroulik commented on #115
I failed to reproduce with Breeze or Netrunner Rolling

[2018-01-17 11:02] star-buck commented on #115
Breeze or Rolling?
You mean Neon or Rolling?
Or breeze theme ON Rolling?
On Jan 17, 2018 11:18, "kbroulik" <notifications@github.com> wrote:

[2018-01-17 11:06] kbroulik commented on #115
I failed to reproduce with:
* Breeze widget style on neon
* Breeze widget style on Netrunner Rolling

and I have never seen anything like this before. Is that only on the Pinebook?

[2018-01-17 11:51] kbroulik commented on #115
Fixed by KDE Frameworks 5.43 https://cgit.kde.org/kio.git/commit/?id=248941a0f4b4792b6935546da1c1e6bdda61846e

[2018-01-21 16:25] star-buck opened #116 "samba-mounter: latest update requires adding version parameter when mounting"
Latest system update I got this error message:
![screenshot_20180121_171214](https://user-images.githubusercontent.com/840070/35196233-961bcc2e-fecf-11e7-921b-211179f34e52.png)

According to here it needs some version number parameter:
https://serverfault.com/questions/414074/mount-cifs-host-is-down

e.g.:
sudo mount -t cifs -o vers=1.0

I am not sure if to automatize correct version number, or if

[2018-01-22 11:25] aleixpol commented on #116
I looked into this issue in the past, I didn't act on it because the spec specifically states that older versions of the protocol hinder security.
We could try to remount with an older protocol if the default behaviour doesn't work.

[2018-01-22 11:31] star-buck commented on #116
Of course its now 100% secure as it doesnt work anymore.
Lets try and fix this so it works again in those cases it doesnt anymore right now.

[2018-01-22 11:35] aleixpol commented on #116
https://commits.kde.org/samba-mounter/2f797e2ccb5df52810d84c50e4b49ed8f08a9570

[2018-01-22 18:16] star-buck commented on #116
works again now, thanks @aleixpol !

Could you also make it work again that hitting the "ok" button does always behave like if triggered the save button? or at least not add a folder that then isnt connected to the samba share, but only a placeholder? Open for suggestions.

[2018-01-22 18:18] star-buck opened #117 "System Settings: no longer sorted according to KDE-Weight, or rather sorted by first digit only?"
as seen on latest rolling:
http://arch.netrunner.com/ISO/

[2018-01-23 11:37] kbroulik commented on #106
I did a full port of it to QtWebEngine which should address many issues that this plasmoid used to have, including the mouse wheel issue: https://phabricator.kde.org/D10039

[2018-01-23 11:51] #116 closed, assigned to aleixpol, NuLogicSystems

[2018-01-23 12:53] #117 closed, assigned to notmart

[2018-01-23 12:54] star-buck commented on #117
issue lied in faulty overlay

[2018-01-26 07:44] star-buck opened #118 "Calamares: Partitions: only 1 option is shown "Manual""
![screenshot_20180126_083840](https://user-images.githubusercontent.com/840070/35429566-dfcdbabe-0274-11e8-8020-0336076aab4a.png)

In the screenshot above, shouldnt it always possible to "Erase" a complete disk and install the OS fresh, hence Calamares should always show at least these two options "Manual" and "Erase" in any case?

Log is here:
https://pastebin.com/KpCF1f6e

[2018-01-26 07:45] star-buck commented on #118
Happened with latest rolling RC6:
http://arch.netrunner.com/ISO/

[2018-01-26 10:47] NuLogicSystems commented on #118
@adriaandegroot
ESP and/or boot flag issue?

[2018-01-26 11:01] adriaandegroot commented on #118
Thanks for the log. So there's a 500GB drive /dev/sda, with 8GB swap free and a 492GB already-installed netrunner on it. Calamares finds only the 8GB swap spaces as "possibly available", but that's too small for a 10GB installation, so it gives up.

I can't tell from the log **why** it can't do anything with the installed version (eg. replace, erase, resize).

[2018-01-26 11:06] star-buck commented on #118
Is the 8gb the swap or could it be thd coincedently 8gb big stick im using?
On Jan 26, 2018 12:01, "Adriaan de Groot" <notifications@github.com> wrote:

[2018-01-26 13:35] NuLogicSystems commented on #118
@star-buck
It's definitely the swap partition (/dev/sda2).

@adriaandegroot,
Could this be what's causing the problem?
[code]
I have no idea what it means, perhaps you, oberon or Philip do?

[2018-01-26 15:27] star-buck commented on #118
Is this a fairly new thing/regression?
Should Rolling wait for a fix or release as is?

[2018-01-26 16:49] NuLogicSystems commented on #118
Works here, tested in vbox, qemu and on my test machine.
All I can think of is something must have had that partition open and calamares couldn't use/manipulate it.

[2018-01-26 16:53] star-buck commented on #118
Okay, hopefully a cornercase, but we should still find the cause and fix it.
On Jan 26, 2018 17:50, "James Kittsmiller" <notifications@github.com> wrote:

[2018-01-26 17:01] NuLogicSystems commented on #118
I couldn't reproduce it here so far, but there are still a few things I haven't tried.
Hopefully, someone else can reproduce this easier than I.

[2018-01-26 17:07] NuLogicSystems commented on #118
I'm still wondering if this has anything to do with the esp and/or boot flag issues calamares has been having?

https://github.com/calamares/calamares/issues/891
https://github.com/calamares/calamares/issues/884

[2018-01-29 13:40] adriaandegroot commented on #118
@NuLogicSystems unlikely, since those flag confusions arise on EFI systems, and @star-buck 's screenshot shows a BIOS setup. I have tried this a half-dozen times now in a VM (except with UEFI, which I shouldn't have), can't reproduce the problem. I did once get a situation where I could erase or do manual partitioning; normally I can do all four options -- so there's **something** inconsistent, bu

[2018-01-29 14:57] NuLogicSystems commented on #118
@adriaandegroot
Could it possibly be something else is off on the drive itself then?
A smart status on the drive could be useful.

[2018-01-30 14:10] eikehein commented on #113
Fix is in 5.12.

[2018-01-30 14:12] eikehein commented on #87
This came back due to a Qt thing. We're tracking it here:

https://github.com/blue-systems/plasma-5.11/issues/111

This can be closed.

[2018-01-30 14:53] star-buck commented on #87
@eikehein : is it fixed or just tracked there?

[2018-01-30 14:54] star-buck commented on #87
i see, closing here

[2018-01-30 14:54] #87 closed, assigned to eikehein

[2018-01-30 15:12] #83 closed, assigned to nobody

[2018-01-30 21:23] #64 closed

[2018-01-31 12:00] star-buck opened #119 "SystemSettings: clicking two times on the same left side entry of the new layout changes the color of that entry"

[2018-01-31 15:23] notmart commented on #119
It should be now fixed in master, frameworks side, needs up to date kirigami and qqc2-desktop-style

[2018-02-01 08:41] eikehein commented on #111
Patch went into Qt. I think it will be in the next 5.9.x and 5.10.x releases. Hopefully.

I've also written the distro packagers lists that we recommend they include the patch now.

[2018-02-05 07:51] kbroulik commented on #100
How is this? https://phabricator.kde.org/D10243

[2018-02-05 08:24] star-buck commented on #100
Its visibly better. ;)

[2018-02-06 14:22] star-buck opened #120 "SystemSettings: make sidebar flickable"

[2018-02-06 16:09] notmart commented on #120
with kirigami from latest master it should already be

[2018-02-07 08:21] star-buck commented on #103
@kbroulik : Since Netrunner is Debian and Manjaro and we offer to use a mac-like setup, does Firefox now work in general with Plasma's Global Menu in 5.12?
Please also check if LO6 is working, too.

[2018-02-07 08:26] #77 closed, assigned to notmart

[2018-02-07 08:26] #84 closed, assigned to eikehein

[2018-02-07 13:34] star-buck commented on #100
@kbroulik : please add green label "ready" for anything thats solved codewise and should be testable in some next version update (as courtesy add whhere to look for what package version the fix is in).

[2018-02-07 13:41] notmart commented on #98
new look agreed upon upstream is landed in master for 5.13

[2018-02-07 13:43] notmart commented on #94
this can be checked again with all master, (also making sure neon has the scrollwheel patch in, which is merged but not sure if is in 5.10.0 already)

[2018-02-07 13:44] star-buck commented on #94
@notmart : you mean Qt5.10?

[2018-02-07 13:45] #67 closed

[2018-02-07 13:45] notmart commented on #36
may be tried with the more recent qt releases that we ship nowdays

[2018-02-07 13:45] #66 closed

[2018-02-07 13:46] notmart commented on #42
as is the same issue as discover, should be tested again with latest fixes (qt fix included)

[2018-02-07 13:49] star-buck commented on #7
@aleixpol : Can you look into this once more as it seems not working again.

The idea is if someone adds a new Resource and presses "Ok" it should also "Save" and add an entry.
At least it worked like that at some point in the past.

[2018-02-07 13:51] #36 closed

[2018-02-07 13:52] #35 closed

[2018-02-07 14:22] kbroulik commented on #102
https://phabricator.kde.org/D10362

[2018-02-08 14:02] kbroulik commented on #103
Firefox has a patch by Ubuntu for global menu. Suse people told me it's not upstreamable in its current form. I fixed the glitches we had with that, ie. Firefox on neon works fine with global menu now.

I'll investigate what could be done to support LibreOffice.

[2018-02-08 14:04] llelectronics commented on #103
On this notice I should mention that we disable global menu a.k.a unity menu support in plasmazilla (Firefox with Plasma Integration Patches) as they are incompatible.

[2018-02-08 15:30] star-buck commented on #103
@kbroulik : What does Ubuntu's patch to make FF work with our GB?
Imo if we offer GlobalMenu, we should spend time to make it work on any distro, not just KDE Neon/Kubuntu.

[2018-02-08 15:40] aleixpol commented on #7
I think I didn't understand you the first time around.
https://commits.kde.org/samba-mounter/ab0d4338bb6237f4618d259280d587d8167ff394

[2018-02-08 15:44] notmart commented on #94
i just checked where and when it was pushed.
that Qt patch will be in Qt 5.10.1 and 5.9.5

[2018-02-08 15:59] star-buck commented on #94
Is neon bionic supposed to use libinput default?

[2018-02-08 22:27] kbroulik commented on #103
https://bazaar.launchpad.net/~mozillateam/firefox/firefox-trunk.head/view/head:/debian/patches/unity-menubar.patch That's the Firefox patch, no idea if what the license situation is with this or how feasible it is to include for other distros.

It's certainy not our fault if 3rd party applications aren't supporting global menu protocol, same with system tray icons, there's still people using xembe

[2018-02-09 10:20] star-buck commented on #103
It may not be our fault, yet we still have to fix it if we want it to work on netrunner pinebook (which we do).

[2018-02-12 14:12] kbroulik commented on #103
https://phabricator.kde.org/D10461 adds support for GTK3, including LibreOffice, if GTK3 is used, which is most likely the new default as a full Qt5/KDE5 port might never happen

[2018-02-14 12:45] star-buck opened #121 "Preload/Pre-initialize Plasma parts at start (like active menu, systray items, etc.)"
simple and smart solution, that works on "first click" for dedicated components.

[2018-02-14 18:22] notmart commented on #121
Tracked on https://phabricator.kde.org/D10512

[2018-02-15 14:22] NuLogicSystems commented on #121
Ever thought about using one of these:
https://github.com/kokoko3k/gopreload
https://sourceforge.net/projects/preload/

Ref: https://wiki.archlinux.org/index.php/Preload

[2018-02-15 14:37] llelectronics commented on #121
@NuLogicSystems thats a different method. With QML Preloading we want to preload the widget elements needed for showing the widget itself (a menu for a menu button in the panel for example, or calendar for the clock widget).
GoPreload and Preload are for application binary preloading though.

[2018-02-15 15:25] NuLogicSystems commented on #121
Oops, I was thinking more along the lines of parts of Plasma and Firefox, etc. themselves.
Plasma takes almost two full minutes to load on one of my arch boxes, this is a vanilla default install without anything extra installed, running, or applied, this install also does not includes any of our diversions and settings.

[2018-02-15 15:28] llelectronics commented on #121
@NuLogicSystems wow that sounds exciting to take a look at. As 2 minutes is really a long long time. Maybe you can figure out what is causing it.

[2018-02-15 15:32] eikehein commented on #121
I looked into preloaders like this once, and they're not viable because X11 apps can't be serialized and deserialized in this way (too much shared state on the X server).

Two minutes is completely abnormal though.

[2018-02-15 15:33] NuLogicSystems commented on #121
Yea, when I get a moment I plan on it.
This is not a critical system so I haven't been too worried about it.
I rarely reboot any of my machines unless there was a major base system component upgraded, like the kernel, dbus, systemd, etc.
Besides, most of my "critical" systems are all running Enlightenment anyway. ;)

[2018-02-16 11:40] star-buck opened #122 "device notifier: if popup opens automatically when plug in a usb, clicking somwhere other than desktop to close it doesnt work"

[2018-02-16 14:06] notmart commented on #122
I can't seem to be able to reproduce on master, i launched a complete rebuild just to be sure of having everyhting up to date.

the only edge case i manage to replicate it, is if i plug a thumbdrive while i am moving a window around, then the cause for this happens, which is the popup not having keyboard focus (which then i'm not sure there are ways at all for it to detect mouse clicks outside it)

[2018-02-16 14:35] notmart commented on #122
update: this is due to the focus stealing prevention algorythm (rationale is if you are interacting with a window, don't want the focus stolen)
we could either ship a window rule or try to force the active window on applet side, tough this may have unwanted effects of unwanted focus stealing.. we need real world testing so i'll try to come up with a patch for it

[2018-02-16 14:57] star-buck commented on #122
How about setting focus stealing preventation = none as default?
On Feb 16, 2018 15:35, "Marco Martin" <notifications@github.com> wrote:

[2018-02-16 16:12] notmart commented on #122
i think that would make things not much usable as would make even a facebook page open in a background browser could interrupt and steal input (so if someone was say, writing something on libreoffice, some typed words would be lost until the user notices the focus has now moved to that facebook page.
luckily, adding a special case for things coming from plasma is easy

[2018-02-16 16:54] star-buck commented on #122
Has this ever happened to you? Is it possible for facebook in the
background to steal focus from libreoffice?
On Feb 16, 2018 17:12, "Marco Martin" <notifications@github.com> wrote:

i think that would make things not much usable as would make even a
facebook page open in a background browser could interrupt and steal input
(so if someone was say, writing something on libreoffice, some typed words

[2018-02-16 17:32] notmart commented on #122
depends from the website, but i managed to do an html page which does indeed raise the browser window without user intervention, so on some websites may definitely happen

[2018-02-16 18:02] kbroulik commented on #122
I'm glad we have focus stealing prevention. Windows and OSX don't have that and it drives me nuts. Let's not use the sledgehammer solution of disabling it but find a solution for device notifier specifically. Also I wouldn't want device notifier to steal focus, it used to do that and it was highly irritating when you had a wonky USB cable and it popped up all the time.

[2018-02-16 18:12] notmart commented on #122
phabricator diff with a first rough solution, hope in the next days to come up with a better one
https://phabricator.kde.org/D10591

[2018-02-16 18:20] star-buck commented on #122
In Netrunner, focus stealing is off dince its beginning, and i didnt
noticed one amnyoing instance so far in 5 years... Ymmv, but im curious
what websites tgat would be and if such a case is reproducible. If so, id
love to test it out on netrunner, so feel free to post examples here :)
On Feb 16, 2018 19:02, "kbroulik" <notifications@github.com> wrote:

[2018-02-19 14:25] notmart commented on #122
i have two minimal examples
http://notmart.org/misc/windowpopup.html (popup blocking needs to be disabled for that)
http://notmart.org/misc/windowfocus.html
which try to bring a window to front after 5 seconds, so load and switch window.
Firefox seems to be a bit more careful with that (seems to have some internal focus stealing prevention mechanism), varies from version and from user settings (to

[2018-02-20 17:36] star-buck opened #123 "Discover: size in detail page is "0 B" again, for apps and also for OCS-stuff"
https://www.dropbox.com/s/w198m4e812igwlr/discover-5.12.1.mkv?dl=0

[2018-02-20 17:51] NuLogicSystems commented on #123
Link is wrong, It's taking me to my dropbox not yours..

[2018-02-20 19:17] aleixpol commented on #123
The link says `The folder ‘/plasma-issues/plasma-5.12’ doesn’t exist.`.

[2018-02-20 19:44] star-buck commented on #123
I changed the link, please load the comment on github again.

[2018-02-21 00:07] aleixpol commented on #123
Downloaded netrunner rolling and will be testing on it on a virtualbox.
Regarding the video, I'm also concerned about how the install buttons are disabled. This shouldn't happen... :thinking:

[2018-02-21 00:34] aleixpol commented on #123
There's this bug report about PackageKit on Manjaro: https://github.com/hughsie/PackageKit/issues/237
Could be relevant.

[2018-02-21 00:36] NuLogicSystems commented on #123
Yes, that is exactly the problem.
Comment out the SyncFirst line from the pacman.conf file and Discover (packagekit) works as it should.
It's not a bug, the problem is that Manjaro is still using this depreciated feature.
https://github.com/netrunner-rolling/2018.01/issues/55

[2018-02-23 15:06] notmart commented on #121
this is the current status of the image that is building right now
http://notmart.org/videodemo/popuppreload.mp4
note i made the video with composite off as in the state "this is all can do the plasma part" with composite on there is still a little lag due to a qt patch being dropped, next update will have it again

[2018-02-23 16:55] star-buck opened #124 "Kwin: double-click on left icon closes window mode: reduce need to keep left button pressed down for 2 seconds to show menu"
currently one must hold the left mouse button down for about 2 seconds before window-options popup appears.
could be changed that the first click triggers to show the menu after ~0.5 second delay if no second click occurs before that to close the window.

[2018-02-23 17:36] notmart commented on #121
this is with last patched qt which fixes the case with composite
http://notmart.org/videodemo/popuppreload%20composite.mp4

and for comparison this before any of the preload patches got in
http://notmart.org/videodemo/beforepopuppreload.mp4

[2018-02-23 18:50] star-buck opened #125 "Wallpapers: has a memory leak, changing the wallpapers a few times and "apply" them pumps plasmashell each time higher"
currently at over 480MB:
![screenshot_20180223_194834](https://user-images.githubusercontent.com/840070/36611111-b2368a8a-18d2-11e8-8d20-a8b28d689181.png)

[2018-02-23 18:52] star-buck commented on #125
just applying the same 2 wallpapers back and forth like 5 times brings it up to this:
![screenshot_20180223_195136](https://user-images.githubusercontent.com/840070/36611209-063302a8-18d3-11e8-9856-cfb04734d168.png)

[2018-02-23 18:53] star-buck commented on #125
current system:
![screenshot_20180223_195305](https://user-images.githubusercontent.com/840070/36611271-31e26b82-18d3-11e8-9f98-28e617a980d5.png)

[2018-02-23 18:56] llelectronics commented on #125
Maybe a Qt Bug. On Neptune with Plasma 5.12 but Qt 5.7 I don't see a big memory usage change when changing wallpapers. It runs in about 180MB plus minus depending on the wallpaper. Never even touching 200MB

[2018-02-23 19:00] eikehein commented on #125
David mentioned during a recent meeting that he's done a full rewrite of the image wallpaper code. It's not been posted for review yet.

[2018-02-23 21:25] star-buck commented on #125
seems not a Qtbug, is also happening with Plasma 5.12 and Qt5.10 as on Pinebook img:
Download any wallpaper via GHNS, then set method to "Scaled and Cropped", then switch between at least 3 wallpapers and simply hit "apply" without closing the config window while having KSYSGUARD opened will show increasingly memory for plasmashell each time you hit "apply".

[2018-02-23 21:26] star-buck commented on #125
@eikehein : that doesnt help in case whatever debian or anyone else ships right now though.

[2018-02-24 09:59] llelectronics commented on #125
Hmm... tested this a few minutes here with changing back and forth. (long video ahead) Finally it did raise the memory a bit but nothing so drastically like you have. Wonder what could cause this. Might be just the thumbnail loading :P
https://youtu.be/knukjxGG18c

[2018-02-26 08:11] kbroulik commented on #125
From what I can tell this is a Qt bug, especially noticeable with slideshow where images repeatedly change: https://bugs.kde.org/show_bug.cgi?id=368838

[2018-02-26 08:23] kbroulik commented on #125
I tried slamming a `QQuickWindow::releaseResources()` call after we unloaded the previous wallpaper with no real effect, though, but I also didn't observe this memory leak here.

[2018-02-26 10:14] kbroulik commented on #124
https://phabricator.kde.org/D10855

[2018-02-26 10:21] notmart commented on #125
could be tried to do a minimal qml that loads in qmlscene continuouly switching the source of an Image to isolate if the problem is actually in Image. (and if there is difference between changing source to an Image which is what the wallpaper is doing now compared to creating and destroying different image components w/releaseresources each time)
for the wallpaper in general yeah, I would prefer t

[2018-02-26 10:24] notmart commented on #125
important point: memory grows both just hitting apply and keeping always the same dialog open and opening/closing the dialog each time?
(this is to exclude something wrong in the dialog, thumbnail loading etc)

[2018-02-26 15:52] notmart commented on #125
this might be related https://bugreports.qt.io/browse/QTBUG-61754
tough my qt build has both patches in but is still somewhat reproducible (about 10 MB every wallpaper switch which is indeed around the size of the final uncompressed image, so somehow Image is still not freeing part of the texture data)
the test case attached to that bug report doesn't seem to increase memory a lot while running

[2018-02-26 16:45] notmart commented on #125
the leak seems to be in the blurring happening when the image is smaller then the desktop disabling all that code the leak goes awaty, it *may* be a leak in the qt GaussianBlur component, but more likely is that regardless that blur fill is used or not, after some switches, 4 images stay always loaded in memory (2 images for the fade anim, and one copy of each of them for the blur fill) that's afa

[2018-02-28 14:34] kbroulik commented on #125
If the `GaussianBlur` item leaked, David's rewrite would indeed "fix" that as with the new approach a fresh item will be created and the old one destroyed whereas currently we reuse it

[2018-02-28 15:04] NuLogicSystems commented on #125
Question: Does the rewrite also fix the mouse lag issue in the settings dialog?

[2018-02-28 15:50] star-buck commented on #125
Wrong thread, this has nothing to do with mouse lag, please dont hijack
topics that are absolutely unrelated and have todo with libinput and co.,
thanks.

On Feb 28, 2018 4:06 PM, "James Kittsmiller" <notifications@github.com>
wrote:

[2018-02-28 16:17] notmart commented on #122
alternate approach: https://phabricator.kde.org/D10921

[2018-03-03 17:39] star-buck opened #126 "file-dialog/dolphin: scroll exactly one column forward/backward in listview"
example:
start:
![screenshot_20180303_183459](https://user-images.githubusercontent.com/840070/36937321-bbac4b96-1f11-11e8-8257-028913a31288.png)

just 1 mousewheelscroll  later:
![screenshot_20180303_183508](https://user-images.githubusercontent.com/840070/36937327-cc817194-1f11-11e8-9bd3-af57be11f5e8.png)

suggestion:
e.g. windows scrolls forward in columns, so they jump to the exact next column

[2018-03-03 17:40] star-buck commented on #126
this would also be nice in dolphin btw.

(I read somewhere someone suggested to use dolphin as the filedialog instead of having a seperate one? not sure if that makes sense and reduces redundancy...)

[2018-03-05 21:21] star-buck opened #127 "calamares: doesnt recognize correct grub/bootloader partition?"
note this is a machine that doesnt have UEFI, but still installed a GPT partition before, so replacing the partition works, but bootloader detection seems to fail.

cala offers sda, which then fails after reboot to select the new system, as grub only shows the old.
Using grub customizer and saving again on the right partition updates grub and fixes the issue.
![screenshot_20180305_220635](https://

[2018-03-05 21:23] star-buck commented on #127
note this is a machine that doesnt have UEFI, but still installed a GPT partition before, so replacing the partition works, but bootloader detection seems to fail.

[2018-03-05 22:19] star-buck commented on #127
from the previous installed rolling, starting grub customizer brings up this:
![screenshot_20180305_231513](https://user-images.githubusercontent.com/840070/37002883-6fd09cde-20cb-11e8-8936-00f6f9851dfd.png)
so apparently grub is installed on sda2, not that sda1

[2018-03-07 19:29] star-buck commented on #127
@adriaandegroot :
Tried something else that reproducibly crashes Calamares:
![screenshot_20180305_220635](https://user-images.githubusercontent.com/840070/37000363-7bb9a1d8-20c3-11e8-8e72-8117a84d2863.png)
in above img i first click on the yellow partition to replace it, then click on the green, which crashes cala.

Log is here:
https://pastebin.com/DvWx2nvc

[2018-03-07 22:00] adriaandegroot commented on #127
Moving the crash bug upstream.

[2018-03-09 09:46] adriaandegroot commented on #127
.. can't reproduce the problem; need to spend more time in trying to duplicate the problem system layout.

[2018-03-09 10:23] adriaandegroot commented on #127
Using Netrunner Desktop 20180305 ISO image, I managed to install to a blank HDD without creating a bootable system. Installed the bootloader to / (instead of MBR), but I'll need to go through and write down some scenario's for testing.

[2018-03-10 12:20] star-buck commented on #94
and to answer: it seems it does.
@notmart : testing on neon dev unstable is useless in this case, as it doesnt use libinput default.

I will continue this in a fresh ticket, and use this as old reference.

[2018-03-10 12:20] #94 closed, assigned to notmart

[2018-03-10 12:25] star-buck opened #128 "libinput: mousescroll superslow in certain areas"
As can be seen in this video showcasing upcoming Kubuntu 18.04, scrolling for qml areas like e.g. Dash is superslow and inconsistent with the rest of scrolling experience, like dolphin, gtk-apps, etc:
first instance widget sidebar:
https://www.youtube.com/watch?v=G2T34nn3DUc&feature=youtu.be&t=120

second instance dash:
https://youtu.be/G2T34nn3DUc?t=653

see reference tickets #42 and #94 .
Please

[2018-03-10 12:26] #42 closed

[2018-03-10 12:30] star-buck commented on #31
@eikehein : still not fixed with plasma 5.12.2:
before:
![screenshot_20180310_132910](https://user-images.githubusercontent.com/840070/37242292-24a3626a-2467-11e8-98c6-c288d65d7b08.png)

after opening writer, its only second position:
![screenshot_20180310_132927](https://user-images.githubusercontent.com/840070/37242295-296ae16a-2467-11e8-94f0-ec12dcf578bb.png)

[2018-03-10 12:31] star-buck commented on #127
i think its a corner case, so the other ticket with the crash seems more important.

[2018-03-10 12:36] star-buck commented on #31
after starting dolphin and ksnakeduel:
![screenshot_20180310_133526](https://user-images.githubusercontent.com/840070/37242329-fbd109d6-2467-11e8-9cb4-5396571160bc.png)

[2018-03-10 12:37] star-buck commented on #97
seems fixed

[2018-03-10 12:37] #97 closed, assigned to shadeslayer, davidedmundson

[2018-03-10 12:41] #105 closed, assigned to leinir

[2018-03-10 12:42] #98 closed, assigned to notmart

[2018-03-10 12:44] star-buck commented on #65
These garbled instances keep showing up quite often now on ati and intel machines, e.g.:
![screenshot_20180310_134047](https://user-images.githubusercontent.com/840070/37242402-25875342-2469-11e8-98a2-4e78d0654e01.png)

[2018-03-10 12:47] star-buck commented on #65
while the first screenshot in first comment was intel beginning of the year, the last one above is ati with the following settings:
![screenshot_20180310_134727](https://user-images.githubusercontent.com/840070/37242421-9893d144-2469-11e8-94f7-cd52316892ae.png)

[2018-03-10 12:49] star-buck commented on #65
@davidedmundson , @subdiff :
while the pinebook "lines" ticket has absolute priority, i keep collecting those instances wherever i see them.

[2018-03-10 19:16] davidedmundson commented on #65
The pinebook glitch was always traces of the frame before..these ones are all over place.

But it is in that somewhat similar area, non GL windows getting composited in GL
In X it's an area they keep rewriting again and again; It used to be a EXA, then UXA, then SNA then glamor...
and there are settings for it.

Possibly. When I'm done with pine stuff, I'll install Netrunner on a machine and try t

[2018-03-10 21:45] star-buck commented on #128
kubuntu downloads: http://cdimage.ubuntu.com/kubuntu/releases/18.04/beta-1/

[2018-03-11 17:49] #123 closed, assigned to aleixpol

[2018-03-11 17:51] star-buck opened #129 "Discover: Sorting for Addons should be like GHNS kcms: by date"
currently, it all seems sorted backwards from Z-A:
![screenshot_20180311_184834](https://user-images.githubusercontent.com/840070/37256581-20736e0a-255d-11e8-918b-a9e2059568ea.png)

[2018-03-11 17:54] star-buck opened #130 "Discover (/Kirigami) scrollbar: will this be adjusted the same as in SystemSettings?"
@notmart :
so will all Kirigamified apps benefit from the SystemSettings scrollbar improvements, e.g. thinner, nicer overlay, not disappearing while hovering fastly over it, etc.?

this is 5.12.2 with kf5.42:
![screenshot_20180311_184834](https://user-images.githubusercontent.com/840070/37256611-8534488c-255d-11e8-99aa-97af218ac858.png)

[2018-03-12 08:03] star-buck opened #131 "provide proper shadow support for CSD/GTK3"

[2018-03-12 15:32] adriaandegroot commented on #127
.. still not reproducible. I have nothing to go on: my virtual disk is partitioned as shown in the screenshot, and I can click around in the installer partition selection all I like, with no effects. Using netrunner-desktop-20180305.

I think this issue should be closed, since having calamares tickets in a plasma repo is a bit weird.

[2018-03-12 15:41] adriaandegroot commented on #118
There's not much to go on here: we can't reproduce the problem. At best I can try to improve the logging so that if this happens again, it is easier to see what is going on. See also Calamares issue #913, which should make it more visible why a device is not available (not just in the log file).

This issue should probably be closed, (possibly moved to Calamares issue tracker), since having Calama

[2018-03-12 16:49] star-buck commented on #118
Agreed, please move the ticket then to cala.

[2018-03-12 16:50] star-buck commented on #127
Please keep that ticket open, thanks.

[2018-03-13 15:02] aleixpol commented on #129
Sorting by release date now is the default for 5.13.

[2018-03-27 10:20] kbroulik commented on #131
I think on X this is a lost cause.

There is no way to tell a GTK client-side decorated window apart from a regular window that wants no borders shown. There is a window property `GTK_FRAME_EXTENTS` that tells the compositor how much shadow there is around the window. KWin uses this property to determin whether to force SSD on the window.

However, nowadays this property is only set when the compo

[2018-04-29 15:46] star-buck opened #132 "file-dialog: preview panel: not always showing for last mouse-hovered item"
https://www.dropbox.com/s/1my505dvdjs3cdx/vokoscreen-2018-04-29_17-22-44.mkv?dl=0

[2018-04-30 11:12] star-buck opened #133 "latte-dock: better containment (desktop, folderview) integration"
https://github.com/psifidotos/Latte-Dock/issues/737

[2018-04-30 11:17] star-buck commented on #133
also here: https://bugs.kde.org/show_bug.cgi?id=391073

[2018-05-25 22:30] michaldybczak commented on #103
What is the current status of this? I tested KDE Neon developer git unstable edition and global menus work there perfectly in Firefox and Thunderbird. Is the Ubuntu patch somehow applied universally so it would work across other distros? Or maybe there will be a need to install some additional package like from AUR?

[2018-05-26 09:00] star-buck commented on #103
@kbroulik knows best.

[2018-05-28 15:16] kbroulik commented on #103
KDE neon *is* Ubuntu basically, Firefox comes from there unaltered, I think, neon only provides the Qt/KDE stuff ontop.

[2018-05-28 21:10] michaldybczak commented on #103
So if firefox is not modified, it should work in another distros? I guess, we can't test it yet beside Neon (at least not in an easy way) so we'll have to wait. A bit over 2 weeks and we'll know ;).

[2018-06-01 08:40] star-buck commented on #31
and still not fixed with plasma 5.13 with latest kde neon pinebook img...

Test by switch to dash and open gwenview, then open okular, gwenview is still in first position...
@eikehein : can you give this priority? it looks bad and beats the purpose of having this default as first option when it is clearly still not working as advertised.

[2018-06-01 09:02] #99 closed, assigned to kbroulik

[2018-06-01 09:05] star-buck commented on #31
looks like icons get somehow inserted sorted A-Z.
But then even that is not always consistent, like Firefox Browser is at spot 1, while Ark is sorted second spot (but logically before all others then following, so i guess its internhal screwed to not recognize the first spot).

[2018-06-01 13:59] eikehein commented on #31
It's a KActivities bug, so the reason it fell by the wayside is that the responsible and knowledgable employee went away. I'll see if I can reproduce and figure something out, but it might involve some learning overhead to get familiar with the KA stuff.

[2018-06-01 15:12] star-buck commented on #31
that would be great.
(the responsible and knowledgable employee didnt seem to fix it while he was still assigned).

[2018-06-01 15:13] star-buck commented on #108
@aleixpol : this has been solved?

[2018-06-01 15:15] aleixpol commented on #108
The "search is too expensive" problem should have been solved from my perspective. We don't have this UX though as it's not part of the design.

[2018-06-01 17:01] eikehein commented on #31
Patch: https://phabricator.kde.org/D13273

Turned out to be in the Kicker backend, after all - and super trivial ...

[2018-06-01 19:02] eikehein commented on #31
Fix is merged into the 5.12/5.13/master branches.

[2018-06-18 00:28] star-buck opened #134 "ksysguard: sort by memory: selecting and killing a process at the top will make the listview jump to the bottom"
it would be better to just remove the process and stay visually at the same position of the listview

[2018-06-18 22:27] Pointedstick commented on #125
Wasn't this fixed with an upstream Qt change in 5.11?

https://codereview.qt-project.org/#/c/224684/

[2018-06-28 22:58] michaldybczak commented on #103
Plasma 5.13 is out and global menus for firefox/thunderbird are working only on Neon (or possibly on Ubuntu based distros) because of the unity patch. Other distros still don't have global menus in ff/thb.

What is the status of that feature? Are there any plans for making general improvement that would work across all distros or are we in the woods yet?

I just want to know if we can expect it so

[2018-06-29 07:32] star-buck commented on #103
@kbroulik : Does Gnome achieve this distro-independent, like Fedora, Suse, Arch?

[2018-06-29 11:18] kbroulik commented on #103
Firefox doesn't provide global menu without those patches and unfortunately plasma-browser-integration can't fix that as it cannot access the native window.
As for LibreOffice, that should work out of the box starting in LO 6.2 (or 6.1, even), right now you need to explicitly use the gtk3 SAL plugin for that.

[2018-06-29 19:01] michaldybczak commented on #103
Great to know about LO. It works for me, but I didn't know if it still requires modifying .xprofile. Now I know what to tell others. Thanks @kbroulik

As to Firefox's patches, is this matter of them working only on Ubuntu based systems or maybe they need to be installed/added to another distributions? For example, I'm on Manjaro so is there a way I could install them and test if they work?

[2018-07-01 13:51] star-buck opened #135 "Breeze widget style: active dropdown: it gets colored that makes the font barely readable (even with Breeze color scheme, compare Oxygen widget style that doesnt tint the dropdown inside)"
Breeze:
![screenshot_20180701_134359](https://user-images.githubusercontent.com/840070/42135030-d1d9b182-7d45-11e8-8eca-b1a3303d9cd3.png)
Oxygen:
![screenshot_20180701_134528](https://user-images.githubusercontent.com/840070/42135051-2591e57e-7d46-11e8-972e-c4823fe1eddd.png)
Thsi was Oxygen color scheme, but breeze also looks a bit weird, amybe color should be changed to light variant of any color

[2018-07-01 13:56] #120 closed, assigned to notmart

[2018-07-01 13:58] star-buck commented on #31
@eikehein : 5.13.2 here and still not working? tested on netrunner rolling based on manjaro/arch.
Is it supposed to be officially bugfixed with 5.13.x?

[2018-07-01 14:04] star-buck commented on #135
this is breeze standard colorscheme, i find it only slightly better, but still akward, as things get colored quite often and in all places, like calamares:
![screenshot_20180701_095848](https://user-images.githubusercontent.com/840070/42135235-54fe0ac0-7d48-11e8-9986-367fc28f2904.png)

[2018-07-01 15:59] adriaandegroot commented on #135
Calamares may very well have some surprising choices for theming / coloring UI elements. Perhaps this screenshot is showing that the language element has been selected / activated in the drop down? (I'm really not good with UI things)

[2018-07-01 16:50] star-buck commented on #135
Not different, just supereasy to test.
Open cala and the dropdown is colored like every other dropdown when
focused / something has been selected.
Just look for other places, then you notice the same.

[2018-07-02 10:24] eikehein commented on #31
The fix is in 5.13.1+. It works for me here. Maybe there's a second bug ...

In the Dashboard preferences, do you have "Sort alphabetically" enabled?

[2018-07-02 10:25] eikehein commented on #31
^ I think it's that - this setting is also applied to the Recent Apps model *facepalm*. So there were two "sort alphabetically" bugs. I didn't notice the second one because that setting is default-off. I'll fix it.

[2018-07-02 10:25] eikehein commented on #31
(Ah, it's also a recent regression from expanding alpha sorting to the top-level menu.)

[2018-07-02 18:41] eikehein commented on #31
I tracked this down to a bug in KActivitiesStats after all. I don't have time to fix it.

I filed a bug so Ivan can fix it: https://bugs.kde.org/show_bug.cgi?id=396102

And I wrote this workaround patch I hope to merge in the meantime, if the rest of the team allows me to do it: https://phabricator.kde.org/D13856

Alternatively, it might provoke someone else into fixing the underlying KActivitiesS

[2018-07-03 14:27] eikehein commented on #31
The underlying bug is now fixed in KActivitiesStats by David and will be released with KF5 5.48.

My workaround patch also contained a crashfix aside from the workaround, so I kept just the crashfix and merged that.

[2018-07-08 09:04] michaldybczak commented on #103
@kbroulik, can you link to info about those patches? I'm trying to recruit some people to test them out on Arch based systems but to ease the process I need some contacts and info on what has to be done.

I tried to search for those patches but it is as if nobody talked about it or maybe it's buried under many firefox, patches, unity, global menu threads.

There is a guy on Manjaro forum who compi

[2018-07-08 13:27] NuLogicSystems commented on #103
@michaldybczak
@kbroulik

There are some AUR entries for this:
Firefox:
https://aur.archlinux.org/packages/firefox-appmenu/
alternative 1: https://aur.archlinux.org/packages/firefox-ubuntu/
alternative 2: https://aur.archlinux.org/packages/firefox-ubuntu-bin

Thunderbird:
https://aur.archlinux.org/packages/thunderbird-appmenu/

[2018-07-08 13:39] michaldybczak commented on #103
Thank! However I got:

:: imake i makedepend are in conflict...

I'm not ready to remove makedepend. Can I just edit out that dependency from PKGBUILD? I suspect there will be some problem on installation anyway. Hmm...

Ubuntu versions are not maintained:  Last Updated: | 2016-12-14 20:01

EDIT: I decided to uninstall makedepend, will see how it goes. If I understand correctly, I need imake only

[2018-07-08 14:09] NuLogicSystems commented on #103
This is why firefox-kde was droped from the manjaro repositories, it takes way too much time and too many resources to compile.

[2018-07-08 18:06] michaldybczak commented on #103
Uh, Firefox installed eventually (15-20 min. compilation) and required lot of free RAM space or maybe / space, who knows. However, menus do show up but they don't work at first and I get:

"(firefox:4973): LIBDBUSMENU-GTK-CRITICAL **: 20:02:12.786: dbusmenu_menuitem_property_set_shortcut: assertion 'gtk_accelerator_valid(key, modifier)' failed"

But after a while, some menus won't work and some st

[2018-07-08 18:12] NuLogicSystems commented on #103
I just provided the links, I didn't creat the PKGBUKLD's. ;)
You do have all the correct appmenu support packages installed?
The top two here would be my guess:
http://www.enlightenment.org/ss/e-5b42559380ec09.14156521.jpg

and probably some of these:
http://www.enlightenment.org/ss/e-5b425663d96c36.65180930.jpg

Maybe it needs xul runner from the AUR, IDK..
https://bugzilla.mozilla.org/show_bug.c

[2018-07-08 18:38] michaldybczak commented on #103
I know, I know, was just reporting the experience. Maybe someone will have something to add.

[2018-07-08 18:56] NuLogicSystems commented on #103
You might want to leave a comment on the AUR entry page as well. ;)

[2018-07-08 20:23] michaldybczak commented on #103
I just did. Those AUR packages are very fresh. They showed up 2 days ago.

[2018-07-08 22:59] NuLogicSystems commented on #103
Yea, I saw that.
The firefox-ubuntu-bin basically extracts, edits and installs using a deb file from https://launchpad.net/~ubuntu-mozilla-security/. Might be a faster way to go for now..

[2018-07-10 13:31] michaldybczak commented on #103
Yeah, firefox-ubuntu-bin is a quick install. However global menus have the same issue, they are not working by default, I have to click on each main positions, then click somewhere in the browser to un-focus menus, switch to another window, click its menu and go back to firefox. Then global menus start to work...

I have a sneaky suspicion that this will have to be fixed upstream on plasma gtk app

[2018-07-10 14:16] NuLogicSystems commented on #103
Could also have something to do with gtk global menu integration being only a tech preview in Plasma 5.13, according to the release announcement that is.
https://www.kde.org/announcements/plasma-5.13.0.php

AKA still buggy.

The blog post is no longer there but I found this:
https://forum.manjaro.org/t/gtk-global-menu-is-coming-to-plasma-5-13/42112

[2018-07-10 20:16] michaldybczak commented on #103
Gtk global menus work quite well aside FF/TB and some issues with LO (which will be resolved in newer LO versions 6.1 or 6.2). Only this FF/TB outside Ubuntus is a left over.

[2018-07-20 08:49] star-buck opened #136 "Discover: Store items: sort by (release) date should be showing the latest first, OR add "sort by update date" and sort it by latest update date first"
example "Comics" sort by date shows the oldest comics first, which probably is not what the user wants/expects if sort by date.
Assumed is the user would like to see whats the latest/newest stuff first, so when frequently checked, it is easy visible when there is something new without always scrolling to the "end" of each list to see latest first last.

[2018-07-20 14:31] aleixpol commented on #136
Should be fixed as of https://commits.kde.org/discover/b6a3d2bbf1a75bac6e48f5ef5e8ace8f770d535c

[2018-08-04 17:17] star-buck opened #137 "Energy settings: screen dims after 1 minute like on Low Battery even if battery is still charged 92%"
normal battery setting is configured to dim screen only after 10 min

plasma 5.13.3
framewroks 5.48
qt 5.11.1

[2018-08-06 06:37] kbroulik commented on #137
Can you run the following command to find out what profile is currently loaded (you might need `qt5-default` package installed):
[code]
Please also attach your `~/.config/powermanagementprofilesrc` file

[2018-08-23 14:13] star-buck opened #138 "Discover: clicking on Wallpaper section should not attempt to load and display ALL wallpapers"
it gets stuck here loading forever

[2018-08-26 11:46] star-buck opened #139 "KIO: copying files over GUI is slow/ possibly faulty"
https://www.reddit.com/r/linux/comments/9a7k2i/psa_on_kde_never_use_the_gui_when_copying_a_large/

[2018-09-24 09:23] kbroulik commented on #103
I added `appmenu-gtk-module` for GTK 2 and 3 as runtime dependency to `plasma-workspace` and Plasma 5.14 ships with a `gmenu-dbusmenu-proxy` that loads this plugin out of the box.

This means Gimp, Inkscape, and most other "proper" GTK applications should work now. However, Firefox isn't, and as such cannot work without invasive patches.

LibreOffice ships its own implementation of global menu sup

[2018-09-24 12:40] michaldybczak commented on #103
So this has to be resolved upstream, meaning, Firefox should add this and without it, we are left with patches which are problematic.

firefox-kde-opensuse package on AUR allows for having global menus on FF but with AWC (Active Window Control) they are bugged (you need to click on menus, slide through all main categories, click somewhere else to un-focus from menus, alt-tab to any other window wi

[2018-10-01 23:16] aleixpol commented on #138
This shouldn't be a problem at all as of 2029e2b98d8a4e6a124c0240e8b2cca79a0c05b7.
There could be some regressions so it's just in master. Testing will be very welcome.

[2018-10-25 22:56] star-buck opened #140 "wallpapers dialog: with many wallpapers, scrollbar is at bottom when opening dialog"
dialog looks like this:
![screenshot_20181025_155407](https://user-images.githubusercontent.com/840070/47534965-3d39cb00-d86e-11e8-87b2-9141d33bbc8a.png)
should be like this:
![screenshot_20181025_155416](https://user-images.githubusercontent.com/840070/47534979-43c84280-d86e-11e8-8596-0cebab402616.png)

for one because it should start at top and for second
since the current selected wallpaper is

[2018-10-25 22:57] star-buck commented on #140
tested on plasma 5.14.2

[2018-11-10 11:39] davidedmundson commented on #139
As stated before I'm not super convinced by redditor comments, I've not seen anything confirmed on KF5.

But it'll put everyone at ease if we do some thorough tests.

Here's my proposed plan:

Things to test:
 - test copying files several hundred times with randomly generated file sets.

 - test subfolder not readable

 - test hidden dirs

 - test chown/chmod at destination failing

 - validate (b

[2018-11-10 15:33] star-buck commented on #139
Before start doing that, someone mentioned while copying the modified/added
date(s) are not kept/are changed?

I suggest fixing that first and then I could also simply do a test copying
a 1TB NAS drive to a local attached usb drive and back to see
a) how long that takes (comparing it to a same sample from same nas to same
usb on windows7)
b) if file count stays the same
c) if there is anything wei

[2018-11-12 02:30] star-buck opened #141 "ghns: icons kcm: newly installed themes are only no longer displayed as "installed" after reboot"

[2018-11-12 02:32] star-buck commented on #141
also affects discover

[2018-11-12 19:56] star-buck opened #142 "Discover: shows Tasks 0% no progress while when clicking tasks, the status bar shows definite progress?"
![screenshot_20181112_115349](https://user-images.githubusercontent.com/840070/48371939-f4598300-e671-11e8-9a52-813f1f287e92.png)

since i update, maybe its fixed with latest release.

[2018-11-13 13:04] leinir commented on #141
Just to confirm, this only happens with icons? This seems familiar somehow...

[2018-11-13 15:29] aleixpol commented on #142
Fixed now, thanks Clemens!

[2018-11-19 10:06] davidedmundson commented on #139
In my initial brief tests timestamps were transferred correctly.

I have a real reproducible (though obscure) bug with trash:/ to fix.
I'm doing that first as there's a chance that might lead to discovering issues with generic error handling that  files also uses.

I know this github ticket refers to KIO copying being slow but it'll help me if we treat KIO being potentially faulty and KIO being sl

[2018-11-20 12:56] davidedmundson commented on #139
Update:
I fixed the issue in trash I mentioned. Unfortunately the bug was local to within trash, and wouldn't have fixed anything else. At least we fixed something in this.

In all my copying, I have found that copying to NTFS is behaving weird. File count remained the same, but there's an oddity when viewing the folder size in dolphin that shows them being different. That gives me something concr

[2018-11-20 14:18] star-buck commented on #139
Timestamp would be nice to have fixed
On Nov 20, 2018 13:56, "davidedmundson" <notifications@github.com> wrote:

[2018-11-20 15:41] #136 closed, assigned to aleixpol

[2018-11-22 12:33] davidedmundson commented on #139
NTFS file size is at least understood - there's a fix on phab, but I'm not sure it'll go in - it's a difference between two file systems.

But I've found something interesting, if you crash or kill dolphin at just the right time it comes up with "copying finished" in plasma rather than an error. This seems critically bad.

[2018-11-26 16:22] davidedmundson commented on #139
Fixed!

[2018-11-26 16:30] davidedmundson commented on #139
As for being slow, we've got a few things:

 - use of sendfile   rather than reading into memory and writing data. Now merged.

 - there's something seriously wrong with QCoreApplication::sendPostedEvent() at the event of SlaveBase::dispatchLoop      removing this makes my test set of 1million tiny chars considerably faster. As in orders of magnitudes faster. I need to understand this and get a pr

[2018-11-26 16:58] star-buck commented on #139
Great analysis and progress!
Is there anyone else from KDE related to these who can help
fixing/improving?
On Nov 26, 2018 17:30, "davidedmundson" <notifications@github.com> wrote:

[2018-11-26 17:44] davidedmundson commented on #139
[Redacted - I shouldn't have made hiring notes public]

[2018-11-28 15:59] star-buck opened #143 "patch kamoso: pressing a button "shoot", "burst" or "record" makes them switch places"

[2018-11-28 16:18] star-buck commented on #143
i also suggest to rename "picture", "video" and "burst" or "flash", as you can also "shoot" a video, so it is not 100% clear when first looking until you read all buttons and then deduct you cannot record a picture, so shoot must be picture and not video....

[2018-11-29 14:10] aleixpol commented on #143
https://commits.kde.org/kamoso/70ea71ddbce67c90f2ad31a4b0fa0f7dcc9e9c7b

[2018-12-01 18:21] star-buck commented on #143
@aleixpol : How did this happen (without anyone noticing)?
@shadeslayer : any way to package this patch for debian netrunner witout incompatibility issues in the future (so when the fix is officially shipped and the package lands in debian people simply update to the higher package)?

[2018-12-01 18:23] star-buck opened #144 "dashmenu: when some category entries are hidden on left side due to not enough height, either show scrollbar when mouse hovering over that area or always show scrollbar"

[2018-12-01 23:59] aleixpol commented on #143
It was by design. In hindsight it didn't feel great, that's why I changed it.
It wasn't a bug, just poor design.

[2018-12-03 10:36] davidedmundson commented on #139
All my changes are pushed, Kai also did one. They'll be in the frameworks release at the start of Jan.

In terms of speed, there was some mistakes that are fixed. Some significant.

There's lots more little tiny code-polishing cleanups and probably can get CPU usage of the transferring app. There's scope to cut ~20% of the CPU load of the transferring app doing that.

There are some huge refactors

[2018-12-03 11:04] eikehein commented on #144
Hmm, category entries on left side? The Dashboard has the categories on the right (with a scrollbar) ...

[2018-12-03 11:06] star-buck commented on #144
Yes, right side, sry. Does the scrollbar become visible when overflowed? I
mean without the user actually scrolling up or down, but before that as an
indicator either all time visible when overflown or when hovering over that
area.
On Dec 3, 2018 12:04, "Eike Hein" <notifications@github.com> wrote:

[2018-12-03 11:08] llelectronics commented on #144
I see a scrollbar here: https://i.imgur.com/XclWpfM.jpg

[2018-12-03 11:10] eikehein commented on #144
Yep:

![screenshot_20181203_200727](https://user-images.githubusercontent.com/2744902/49370441-756ade00-f737-11e8-81b5-52e2a4b812be.png)
Theme issue?

[2018-12-03 13:08] star-buck commented on #144
not visible here (not a theme issue) while there is clearly one for the apps:
![screenshot_20181203_080542](https://user-images.githubusercontent.com/840070/49375523-8a615600-f6d2-11e8-9b20-c6e803b0f62d.png)

So for lower resolutions like over VNC i guess it is just there but too crammed?

[2018-12-03 13:10] star-buck commented on #144
okay, it is there but "over the edge" ;) lets just leave it as is for now, its not superimportant.
![screenshot_20181203_081000](https://user-images.githubusercontent.com/840070/49375640-ed52ed00-f6d2-11e8-983a-c50fd4e428d7.png)

[2018-12-03 13:10] #144 closed, assigned to eikehein

[2018-12-03 13:10] llelectronics commented on #144
Looks like it might be really a resolution issue as it looks to my the dash is not fitting in the screen at all. So the scrollbar might be visible outside the screen

[2018-12-03 13:19] star-buck commented on #130
compared to the 5.12.2 solution , the current one looks like something is broken:
![screenshot_20181203_081600](https://user-images.githubusercontent.com/840070/49376012-de206f00-f6d3-11e8-8707-340ebeb88b99.png)

The overlays on the right side simply look weird.

[2018-12-03 13:30] star-buck opened #146 "two conflicts while updating packages"
![screenshot_20181203_082816](https://user-images.githubusercontent.com/840070/49376524-81be4f00-f6d5-11e8-890e-e99d2e20497c.png)
![screenshot_20181203_082837](https://user-images.githubusercontent.com/840070/49376530-8551d600-f6d5-11e8-842b-750ff180d49e.png)

[2018-12-03 13:32] star-buck commented on #143
would need packaging

[2018-12-03 16:27] eikehein commented on #144
Definitely means it's a bug though, will put on my todo

[2018-12-04 12:17] davidedmundson commented on #139
That hiring all went a lot faster than expected:

This is a brain dump, then I'll turn it into a more concrete list as separate issues for chimnoy

Cleanup refactor tasks:
  - Check for abuses of QDateTime converting locales, when we can keep a timestamp in UTC (link to Kai's patch search for more)

 -  also check for misuse of qdatetime as "elapsed timer"

 - Port remaining QObject::connect(char*

[2018-12-04 12:20] star-buck commented on #139
Great. You can also do a new ticket with all points as checkpoints.

[2018-12-04 15:10] kbroulik commented on #139
Some braindump ideas from me:

- Investigate blocking calls to the file system: e.g. open Dolphin on a stale/unresponsive mount and then do stuff like browse, open context menu, select files, and then figure out why and where it blocks.
- Improved thumbnailer: quite some logic is in the `PreviewJob` rather than the `thumbnail:/` KIO slave, and it currently generates one thumbnail after another and

[2018-12-04 15:21] davidedmundson commented on #139
I'll reopen each as a new ticket, then we can have a clear discussion there.

[2018-12-08 18:24] star-buck opened #147 "system settings: sddm: no preview shown despite images being there"
![screenshot_20181208_192225](https://user-images.githubusercontent.com/840070/49689228-c8210d00-fb1e-11e8-84e1-982c87a99dd1.png)

[2018-12-11 14:15] davidedmundson commented on #147
In metadata.desktop there should be a line:

Screenshot=Preview.png

The case needs to match too, breeze's uses "Screenshot=preview.png"

[2018-12-11 16:10] star-buck commented on #147
So this has changed, as it worked before? Or is it an error in Netrunner?
Or all sddm themes i downloaded are suddenly doing it wrong??
On Dec 11, 2018 15:15, "davidedmundson" <notifications@github.com> wrote:

[2018-12-13 20:47] davidedmundson commented on #147
SDDM KCM hasn't changed in years.

[2018-12-13 21:07] star-buck commented on #147
Doesnt mean sddm kcm could still break due to something being
changed/updated around it.

Can you have a look at netrunner iso or give Leszek, Rohan a guess why e.g.
Breeze might no longer showing a correct preview pic?

[2018-12-13 21:09] star-buck commented on #147
@Leszek: can you check Davids first reply if this is maybe the reason?

[2018-12-13 21:18] davidedmundson commented on #147
Breeze being wrong is surprising. I'll check the ISO. @llelectronics do you have a link?

Sugar Dark (as per top screenshot) I checked and found the metadata was wrong.  I sent the author a message.

[2018-12-13 21:35] llelectronics commented on #147
Link to the folder with the ISOs http://ds9-eu.s3-website.eu-central-1.amazonaws.com/#!/dci%2Fimages%2Fnext%2Famd64%2Fnetrunner-desktop%2F

[2018-12-15 18:00] star-buck opened #149 "kd"

[2018-12-15 18:00] #149 closed, assigned to nobody

[2018-12-15 18:07] star-buck opened #150 "KDE Applications: About: have consistent info, like Timestamp and actual version number"
I am not sure if Marble is supposed to be part of the KDE Apps Bundle, but assuming so from the branching et. al.:
https://cgit.kde.org/marble.git/log/?h=Applications/18.08

Since Debian seems a weird mix of old and newer stuff and we should get more consistent versions and updates into it (@ScarlettGatelyClark , @shadeslayer ), it would be great if we make sure that relevant info under "about" is

[2018-12-15 18:09] star-buck opened #174 "marble: route search broken ( possibly due to old version)?"
upstream:
https://bugs.kde.org/show_bug.cgi?id=393915

------

@ScarlettGatelyClark , @shadeslayer :
why some app versions are really old, even though they are supposed to be shipped as package of latest kde apps and there are more recent kde apps in testing?
Can we try to get latest 18.08 or 18.12 version into sid/testing or put into our own repo?

https://packages.debian.org/en/experimental/marb

[2018-12-15 18:09] star-buck commented on #150
this is important/relevant e.g. here:
https://github.com/blue-systems/netrunner-releases/issues/119

[2018-12-15 18:20] star-buck commented on #150
Gwenview About looks better as in terms of kde apps version number,which corresponds to package version info:
![screenshot_20181215_191333](https://user-images.githubusercontent.com/840070/50046087-bb139900-009d-11e9-8d88-99b748daa9ca.png)
still (C) copyright timestamp is weird, could give impression that this has not been worked on since quite long time.
Maybe an automated "end" year could be gen

[2018-12-15 19:49] star-buck commented on #174
@notuxius : for these kind of bugs, can you try to see if there is any official upstream bug or anywhere else reported this beahviour for marble?

This would be good for any bug reported here, which does not look like a packaging/settings error on Netrunner side, but more like upstream bug.

[2018-12-15 19:51] star-buck commented on #174
@notuxius : please see if you find any upstream bug report or other report of the same bug elsewhere.

[2018-12-15 21:51] star-buck commented on #150
To give a positive example, in Discover this is done perfect:
![screenshot_20181215_224939](https://user-images.githubusercontent.com/840070/50047751-fde46980-00bb-11e9-8cb4-af9a644ccf9b.png)

[2018-12-15 23:31] star-buck opened #151 "Splashscreens seem tied to LNF entries"
downloading a new splashscreen creates a same named entry in Lookandfeel kcm,
e.g. Archspace:
![screenshot_20181216_002735](https://user-images.githubusercontent.com/840070/50048335-8c131c80-00c9-11e9-9e61-64c647187c5f.png)
![screenshot_20181216_002726](https://user-images.githubusercontent.com/840070/50048336-97664800-00c9-11e9-8fce-c80df3c98f6b.png)

i assume thats why we have so many non-workin